<template>
    <div id="budget">
        <div class="budget-container">
            <USGoBack to="/stock" />
            <h1 class="budget-title">Statistiques des ventes</h1>
            <USPageInformation information-text="Comparaison" />
            <div class="budget-current">
                <p class="budget-desc">Ventes de l'année</p>
                <p class="budget-desc budget-desc__smaller nogap">{{ currentDate() }}</p>
            </div>
            <p class="budget-desc budget-desc__smaller">Année en cours</p>
            <svg class='myqm-custom-graph-line' myqm-custom-graph-color='#ed8a61'
                myqm-custom-graph-points='10;15;16;15;18;16;10;15;16;15;18;16' version='1.1'
                xmlns='http://www.w3.org/2000/svg'>
            </svg>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import USPageInformation from '../../components/Molecules/USPageInformation.vue'
import USGoBack from '~/components/Atoms/USGoBack.vue'

export default Vue.extend({
    name: 'UrStockAccount',
    components: { USGoBack, USPageInformation },
    data() {
        return {
            budgetDatas: [],

        }
    },
    mounted() {
        this.fetchData()
        this.updateAdressData()
    },
    methods: {
        async fetchData() {
            this.budgetDatas = await this.$axios.get('/api/statistics/get-revenues', { data: { time: "month" }}).then((response) => response.data)
            console.log(this.budgetDatas)
        },
        currentDate() {
            const current = new Date();
            const date = `${current.getDate()}/${current.getMonth() + 1}/${current.getFullYear()}`;
            return date;
        },
        async updateAdressData() {
            const date = new Date();

            function showMonth(wichMonth = 0, locale = "fr-FR") {
                let current = new Date(date.getFullYear(), date.getMonth(), 1);

                if (wichMonth < 0) {
                    current = new Date(date.getFullYear(), date.getMonth() + wichMonth, 1);
                }

                const month = current.toLocaleString(locale, { month: "long" });
                const year = current.getFullYear().toString();

                return month.toUpperCase() + " " + year.toUpperCase();
            }

            const smoothing = 0.2;
            const xIntervalArray = [8.2, 16.4, 24.6, 32.8, 41, 49.2, 57.4, 65.6, 73.8, 82, 90.2, 100];
            const viewPortMax = 50;
            const backgroundOpacity = 0.2;
            const isBlankSpace = false;
            const ratio = viewPortMax / 100;
            const marginTop = 20 * ratio;

            let hasNegative = false;

            function percentageConverter(value, max) {
                return (value / max) * 100;
            }

            function setPoint(x, y, isPercentage, highestValue = null, lowestValue) {
                if (isPercentage) {
                    return [x, (100 - y) * ratio + marginTop];
                }

                if (lowestValue < 0) {
                    return [
                        x,
                        (50 - percentageConverter(y, highestValue - lowestValue)) * ratio +
                        marginTop
                    ];
                }

                return [x, (100 - percentageConverter(y, highestValue)) * ratio + marginTop];
            }

            function checkIsPercentage(value) {
                return /^\d+(\.\d+)?%$/.test(value);
            }

            const svg = document.querySelector(".myqm-custom-graph-line");
            if (svg) {
                let initValues = svg.getAttribute("myqm-custom-graph-points").split(";");

                if (initValues.length) {
                    const isPercentage = initValues.some(checkIsPercentage);

                    const colors = svg.getAttribute("myqm-custom-graph-color").split(";");
                    initValues = initValues.map((x) => (isNaN(parseInt(x)) ? 0 : x));

                    if (isPercentage) {
                        initValues = initValues.map((x) => (isNaN(parseInt(x)) ? "0%" : x));
                    }

                    const values = initValues.map((x) => parseInt(x));
                    const highestValue = Math.max(...values);
                    const lowestValue = Math.min(...values);

                    if (lowestValue < 0) {
                        hasNegative = true;
                    }

                    let points = [];
                    let i = 0;

                    values.forEach((val) => {
                        points.push(
                            setPoint(
                                xIntervalArray[i],
                                values[i],
                                isPercentage,
                                highestValue,
                                lowestValue
                            )
                        );

                        i++;
                    });

                    const line = (pointA, pointB) => {
                        const lengthX = pointB[0] - pointA[0];
                        const lengthY = pointB[1] - pointA[1];

                        return {
                            length: Math.sqrt(Math.pow(lengthX, 2) + Math.pow(lengthY, 2)),
                            angle: Math.atan2(lengthY, lengthX)
                        };
                    };

                    const controlPoint = (current, previous, next, reverse) => {
                        const p = previous || current;
                        const n = next || current;
                        const o = line(p, n);
                        const angle = o.angle + (reverse ? Math.PI : 0);
                        const length = o.length * smoothing;
                        const x = current[0] + Math.cos(angle) * length;
                        const y = current[1] + Math.sin(angle) * length;

                        return [x, y];
                    };

                    const bezierCommand = (point, i, a) => {
                        const cps = controlPoint(a[i - 1], a[i - 2], point);
                        const cpe = controlPoint(point, a[i - 1], a[i + 1], true);

                        return `C ${cps[0]},${cps[1]} ${cpe[0]},${cpe[1]} ${point[0]},${point[1]}`;
                    };

                    const svgPath = (points, command) => {
                        const d = points.reduce(
                            (acc, point, i, a) =>
                                i === 0
                                    ? `M ${point[0]},${point[1]}`
                                    : `${acc} ${command(point, i, a)}`,
                            ""
                        );

                        const line = `<path d="${d}" fill="none" stroke-width="0.3" stroke="${colors[0]}" />`;
                        const backGroundColor = colors[1] ? colors[1] : colors[0];
                        let bottomSpace = null;
                        let fond = `<path d="${d} L 100 ${viewPortMax} L 0 ${viewPortMax}" fill="${backGroundColor}" style="fill-opacity:${backgroundOpacity}" stroke="none" />`;

                        if (isBlankSpace) {
                            bottomSpace = `<path d="M 0 28 L 100 28 L 100 ${viewPortMax} L 0 ${viewPortMax}" fill="#fff" style="fill-opacity:1" stroke="none" />`;
                        }

                        let infos = "";
                        let yAxis = "";
                        let xAxis = "";

                        for (let iX = 10; iX > -1; iX -= 1) {
                            const yCoord = iX * 10 * ratio + marginTop;

                            if (iX === 10 && !hasNegative) {
                                xAxis += `<path d="M 0 ${yCoord} L 100 ${yCoord}" stroke-width="0.1" stroke="black" />`;
                            }

                            if (iX === 10 && hasNegative) {
                                xAxis += `<path d="M 0 ${yCoord} L 100 ${yCoord}" stroke-dasharray="1, 4" stroke-width="0.1" stroke="black" />`;
                            }

                            if (iX === 5 && hasNegative) {
                                xAxis += `<path d="M 0 ${yCoord} L 100 ${yCoord}" stroke-width="0.1" stroke="black" />`;
                            }

                            if (iX === 0) {
                                xAxis += `<path d="M 0 ${yCoord} L 100 ${yCoord}" stroke-dasharray="1, 4" stroke-width="0.1" stroke="black" />`;
                            }
                        }

                        for (let i = 0; i < points.length; i++) {
                            const monthValue = showMonth(-11 + i, "fr-FR");
                            const month = points.length - i === 1 ? "This month" : `${monthValue}`;
                            const zone = `<rect x="${points[i][0] - 10
                                }" y="0" fill="blue" style="fill-opacity:0" width="20" height="${viewPortMax}"> <title>${month} : ${initValues[i]
                                }</title></rect>`;
                            const indicator = `<path d="M${points[i][0]} ${points[i][1]} L ${points[i][0]} 100" stroke-width="0.5" stroke="none" />`;

                            if (i === 0) {
                                yAxis += `<path d=" M${points[i][0]} 1 L ${points[i][0]} 100" stroke-width="0.1" stroke="black" />`;
                            } else {
                                yAxis += `<path d=" M${points[i][0]} 1 L ${points[i][0]} 100" stroke-dasharray="1, 2" stroke-width="0.1" stroke="black" />`;
                            }

                            infos += `<g>` + zone + indicator + `</g>`;
                        }

                        return xAxis + yAxis + line + fond + infos + bottomSpace;
                    };

                    svg.setAttribute("viewBox", `0 0 100 ${viewPortMax}`);
                    svg.innerHTML = svgPath(points, bezierCommand);
                }
            }


        }

    }
})
</script>

<style lang="scss" scoped>





#budget {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0;

    .budget {
        &-title {
            font-size: 24px;
            margin-bottom: 25px;
        }

        &-container {
            padding-top: 47px;
            padding-left: var(--side-margin);
            padding-right: var(--side-margin);
            padding-bottom: 66px;
        }
        &-desc{
            font-family: "Gotham";
            font-weight: 900;
            font-size: 16px;
            text-align: left;

            &__smaller{
                font-size: 14px;
                font-weight: 400;
                color: var(--primary-orange);
                margin-bottom: 50px;
            }
        }
        &-current{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 12px;
        }
    }

    .urstock-go-back {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .myqm-custom-graph-line {
        width: 100%;
        border: solid 1px var(--primary-orange);
    }

    .myqm-custom-graph-line g>path {
        display: none;
    }

    .myqm-custom-graph-line rect:hover~path {
        display: block;
    }

    .myqm-custom-graph-line path:hover {
        display: block;
    }
    .nogap{
        margin: 0;
    }
}
</style>
