<template>
  <div id="account">
    <div class="company-container">
      <USGoBack to="company" />
      <USTitle center textTitle="Mon compte" />

      <div class="company-avatar">
        <img src="https://via.placeholder.com/130.png" alt="" />
        <p class="company-name">{{ userDatas.firstname }} {{ userDatas.lastname }}</p>
      </div>

      <div v-if="dataLoaded">
        <form>
          <USInput label="Nom :" v-model="userDatas.lastname" />
          <USInput label="Prénom :" v-model="userDatas.firstname" />
          <USInput label="Email :" v-model="userDatas.email" />
          <USInput label="Mot de passe :" type="password" v-model="newPassword" :error="error" />
          <USInput label="Confirmation de mot de passe :" v-model="newPasswordConfirm" type="password" />
        </form>
        <USButton message="Modifier" class="company-modify" :disabled="!newPassword" plain @click.native="updateUserDatas" />
      </div>

      <img v-else src="@/assets/img/utils/spinner.gif" alt="" />
      <USButton message="Se déconnecter" @click.native="userLogout" />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import USButton from '../../components/Atoms/USButton.vue'
import USGoBack from '~/components/Atoms/USGoBack.vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USInput from '~/components/Atoms/USInput.vue'

export default Vue.extend({
  name: 'UrStockAccount',
  components: { USGoBack, USTitle, USInput, USButton },
  data() {
    return {
      userDatas: {},
      newPassword: null,
      newPasswordConfirm: null,
      firstName: null,
      lastName: null,
      email: null,
      error: null,
      dataLoaded: false
    }
  },
  async mounted() {
    this.userDatas = await this.$axios.get('/api/me').then((response) => response.data)
    this.firstName = this.userDatas.firstName
    this.lastName = this.userDatas.lastName
    this.email = this.userDatas.email
    this.dataLoaded = true
  },
  methods: {
    updateUserDatas() {
      this.error = null
      if (!this.newPassword) {
        return
      } else if (this.newPassword !== this.newPasswordConfirm) {
        this.error = 'Les mots de passes ne correspondent pas.'
        return
      }

      this.$axios.patch(
        '/api/me/update',
        {
          lastname: this.userDatas.lastname,
          firstname: this.userDatas.firstname,
          email: this.userDatas.email,
          password: this.newPassword
        },
        {
          headers: {
            Authorization: `Bearer ${this.$auth.$state.user.token}`
          }
        }
      )
    },
    async mounted() {
      this.userDatas = await this.$axios.get('/api/me').then((response) => response.data)
      this.dataLoaded = true
    },
    async userLogout() {
      await this.$auth.logout()
    }
  }
})
</script>

<style lang="scss" scoped>
#account {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
  .company {
    &-container {
      padding-top: 47px;
      padding-left: var(--side-margin);
      padding-right: var(--side-margin);
      padding-bottom: 66px;
    }
    &-avatar {
      margin-top: 22px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }
    &-modify {
      margin-top: 20px;
      margin-bottom: 5px;
    }
    &-name {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Gotham';
    }
  }
  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .urstock-input {
    margin-bottom: 12px;
  }
}
</style>
