<template>
  <div id="registera">
    <USGoBack to="/" />
    <USBrand />
    <h3 class="registera-title">
      Adresse de livraison
      <span>3/3</span>
    </h3>
    <div class="registera-details">
      <USInput
        v-model="register.address"
        label="Adresse"
        placeholder="27 Bis rue du Progrès"
        required
      />
      <USInput
        v-model="register.addressComplement"
        label="Complément d’adresse "
        placeholder="27 Bis rue du Progrès"
      />
      <div class="registera-group">
        <USInput
          v-model="register.postCode"
          class="registera-input"
          label="Code postal"
          placeholder="93100"
          required
        />
        <USInput
          v-model="register.city"
          class="registera-input"
          label="Ville"
          placeholder="Montreuil"
          required
        />
      </div>
    </div>

    <USButton
      :disabled="!canRegister"
      message="S'inscrire"
      @click.native="registerAddress"
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../../components/Atoms/USButton.vue'
import USInput from '../../components/Atoms/USInput.vue'
import USGoBack from '../../components/Atoms/USGoBack.vue'
import USBrand from '../../components/Atoms/USBrand.vue'

export default Vue.extend({
  name: 'UrStockRegisterAddress',
  components: {
    USBrand, USGoBack, USInput, USButton
  },
  layout: 'empty',
  middleware: 'disconnected',
  data () {
    return {
      register: {
        address: '21 rue Perdue',
        addressComplement: null,
        postCode: '77340',
        city: 'Pontault'
      }
    }
  },
  computed: {
    canRegister () {
      if (
        this.register.address &&
        this.register.postCode &&
        this.register.city
      ) {
        return true
      }
      return false
    },
    accountData () {
      return this.$store.state.registerData.account
    },
    companyData () {
      return this.$store.state.registerData.company
    }
  },
  mounted () {
    this.fetchSavedData()
  },
  methods: {
    fetchSavedData () {
      this.register.postCode = this.companyData.postCode
    },
    registerAddress () {
      if (this.canRegister) {
        this.$store.commit('setRegisterData', {
          dataStep: 'address',
          address: this.register
        })

        this.$axios.post(
          '/api/current-company/set-shipping-address',
          {
            city: this.register.city,
            address: this.register.address,
            companyAddress: this.register.address,
            zipCode: this.register.postCode,
            complementOfAddress: this.register.addressComplement
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.registerData.account.token}`
            }
          }
        )
        this.loginWithStore()
      }
    },
    loginWithStore () {
      const account = this.$store.state.registerData.account

      this.$auth.setUserToken(account.token).then(() => {
        this.$auth.$storage.setUniversal('user', {
          email: account.email,
          firstName: account.firstname,
          lastName: account.lastname,
          token: account.token
        })
        this.$auth.setUser(this.$auth.$storage.getUniversal('user'))

        this.$auth.redirect('introduction')
      })
    }
  }
})
</script>

<style lang="scss" scoped>
#registera {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 80px;
  height: calc(100vh - var(--side-margin));
  .registera {
    &-details {
      margin: 25px 0;
    }
    &-group {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 5px;
    }
    &-input {
      width: 50%;
    }
    &-details .urstock-input:not(:last-of-type) {
      margin-bottom: 16px;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-size: 16px;
      }
    }
  }
  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  h1 {
    margin-top: 70px;
  }

  h3 {
    margin-top: 70px;
    text-align: left;
    border-bottom: 1px solid var(--primary-purple-light);
    padding-bottom: 5px;
  }

  .urstock-button {
    margin: 0;
  }
  .urstock-cgu {
    font-size: 10px;
    text-align: left;
    display: flex;
    gap: 3px;
    font-weight: 700;
  }

  .urstock-cgu input {
    width: 8px;
    margin: 0;
    border-radius: 5px;
  }
}
</style>
