<template>
  <div id="registerc">
    <USGoBack to="/" />

    <USBrand />
    <h3 class="registerc-title">
      Créer votre entreprise
      <span>2/3</span>
    </h3>

    <div class="registerc-details">
      <USInput
        v-model="register.companyName"
        label="Nom"
        placeholder="Boulangerie de la rue"
        required
      />

      <USInput
        v-model="register.siret"
        label="Siret"
        placeholder="XXXXXXXXXXXXXXX"
        required
      />

      <USInput
        v-model="register.phoneNumber"
        label="Numéro de téléphone de l'entreprise"
        type="tel"
        placeholder="06.XX.XX.XX.XX"
        required
      />

      <USInput
        v-model="register.companySize"
        label="Effectif de l'entreprise"
        type="number"
        placeholder="15"
        required
      />

      <USInput
        v-model="register.email"
        label="Email de l'entreprise"
        type="email"
        placeholder="entreprise@mail.com"
        required
      />

      <USInput
        v-model="register.postCode"
        label="Code postal de l'entreprise"
        placeholder="XXXXX"
        required
      />
    </div>

    <USButton
      :disabled="!canRegister"
      message="Continuer"
      @click.native="registerCompany"
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../../components/Atoms/USButton.vue'
import USInput from '../../components/Atoms/USInput.vue'
import USBrand from '../../components/Atoms/USBrand.vue'
import USGoBack from '../../components/Atoms/USGoBack.vue'

export default Vue.extend({
  name: 'UrStockRegisterCompany',
  components: {
    USGoBack,
    USBrand,
    USInput,
    USButton
  },
  layout: 'empty',
  middleware: 'disconnected',
  data () {
    return {
      register: {
        companyName: 'Boulangerie de la rue',
        siret: '123 568 941 00056',
        phoneNumber: '0666666666',
        companySize: 10,
        postCode: 77340,
        email: 'test3@gmail.com'
      }
    }
  },
  computed: {
    accountData () {
      return this.$store.state.registerData.account
    },
    canRegister () {
      if (
        this.register.companyName &&
        this.register.siret &&
        this.register.phoneNumber &&
        this.register.companySize
      ) {
        return true
      }
      return false
    }
  },
  mounted () {
    this.fetchSavedData()
  },
  methods: {
    fetchSavedData () {
      this.register.phoneNumber = this.accountData.phoneNumber
      this.register.email = this.accountData.email
      this.$forceUpdate()
    },
    registerCompany () {
      if (this.canRegister) {
        this.$store.commit('setRegisterData', {
          dataStep: 'company',
          company: this.register
        })
        this.$axios.post(
          '/api/me/create-company',
          {
            name: this.register.companyName,
            siret: this.register.siret,
            postCode: this.register.postCode,
            companySize: Number(this.register.companySize),
            phoneNumber: this.register.phoneNumber,
            email: this.register.email
          },
          {
            headers: {
              Authorization: `Bearer ${this.$store.state.registerData.account.token}`
            }
          }
        )

        this.$auth.redirect('registerAddress')
      }
    }
  }
})
</script>

<style lang="scss" scoped>
#registerc {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 80px;
  .registerc {
    &-details {
      margin: 25px 0;
    }

    &-details .urstock-input:not(:last-of-type) {
      margin-bottom: 16px;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-size: 16px;
      }
    }
  }
  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  h1 {
    margin-top: 70px;
  }

  h3 {
    margin-top: 70px;
    text-align: left;
    border-bottom: 1px solid var(--primary-purple-light);
    padding-bottom: 5px;
  }

  .urstock-cgu {
    font-size: 10px;
    text-align: left;
    display: flex;
    gap: 3px;
    font-weight: 700;
  }

  .urstock-cgu input {
    width: 8px;
    margin: 0;
    border-radius: 5px;
  }
}
</style>
