<template>
  <div id="register">
    <USGoBack to="/" />

    <USBrand />
    <h3 class="register-title">
      Créer un compte <span>1/3</span>
    </h3>
    <div class="register-details">
      <USInput
        v-model="register.lastname"
        label="Nom :"
        placeholder="johndoe@gmail.com"
      />

      <USInput
        v-model="register.firstname"
        label="Prénom :"
        placeholder="John"
      />

      <USInput
        v-model="register.email"
        label="Email :"
        type="email"
        placeholder="johndoe@gmail.com"
        :error="emailConflict"
      />

      <USInput
        v-model="register.phoneNumber"
        label="Numéro de téléphone :"
        placeholder="06 66 66 66 66"
      />

      <USInput
        v-model="register.password"
        label="Mot de passe :"
        type="password"
        placeholder=""
        :error="checkPasswords"
      />

      <USInput
        v-model="confirmPassword"
        label="Confirmation de mot de passe :"
        placeholder=""
        type="password"
      />

      <div class="urstock-cgu">
        <input v-model="cguCheckbox" type="checkbox" name="cgu">
        <label htmlFor="cgu">
          <NuxtLink to="#">J’ai lu et j’accepte les termes de conditions
            d’utilisations</NuxtLink>
        </label>
      </div>
    </div>

    <USButton
      :loading="tryingToRegister"
      :disabled="tryingToRegister || !cguCheckbox"
      message="Continuer"
      @click.native="userRegister"
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USBrand from '../../components/Atoms/USBrand.vue'
import USButton from '~/components/Atoms/USButton.vue'
import USGoBack from '~/components/Atoms/USGoBack.vue'
import USInput from '~/components/Atoms/USInput.vue'

export default Vue.extend({
  name: 'UrStockRegisterAccount',
  components: {
    USButton,
    USGoBack,
    USInput,
    USBrand
  },
  layout: 'empty',
  middleware: 'disconnected',
  data () {
    return {
      register: {
        email: 'test3@gmail.com',
        firstname: 'Aubin',
        lastname: 'Olivrie',
        password: '123456',
        phoneNumber: '0633651128'
      },
      confirmPassword: '12345',
      tryingToRegister: false,
      passwordsMatch: true,
      hasEmailConflict: false,
      cguCheckbox: false
    }
  },
  computed: {
    checkPasswords () {
      if (!this.passwordsMatch) {
        return 'Les mots de passe ne correspondent pas.'
      }
      return ''
    },
    emailConflict () {
      if (this.hasEmailConflict) {
        return 'Cette adresse e-mail est déjà enregistrée.'
      }
      return ''
    }
  },
  methods: {
    async userRegister () {
      try {
        this.passwordsMatch = true
        this.hasEmailConflict = false
        if (this.register.password !== this.confirmPassword) {
          this.passwordsMatch = false
          const error = 'passwords'
          throw error
        }

        if (!this.cguCheckbox) {
          const error = 'cgu'
          throw error
        }

        this.tryingToRegister = true
        await this.$axios
          .post('/register', {
            email: this.register.email,
            firstname: this.register.firstname,
            lastname: this.register.lastname,
            password: this.register.password,
            phoneNumber: this.register.phoneNumber
          })
          .then((response) => {
            this.$store.commit('setRegisterData', {
              dataStep: 'account',
              account: { ...this.register, token: response.data.token }
            })
            this.$auth.redirect('registerCompany')
          })

        this.tryingToRegister = false
      } catch (err) {
        if (typeof err !== 'string' && err.response.status === 409) {
          this.hasEmailConflict = true
        }
        this.tryingToRegister = false
      }
    }
  }
})
</script>

<style lang="scss" scoped>
#register {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 80px;
  .register {
    &-details {
      margin: 25px 0;
    }

    &-details .urstock-input:not(:last-of-type) {
      margin-bottom: 16px;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & span {
        font-size: 16px;
      }
    }
  }
  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  h1 {
    margin-top: 70px;
  }

  h3 {
    margin-top: 70px;
    text-align: left;
    border-bottom: 1px solid var(--primary-purple-light);
    padding-bottom: 5px;
  }

  .urstock-cgu {
    font-size: 10px;
    text-align: left;
    display: flex;
    gap: 3px;
    font-weight: 700;
  }

  .urstock-cgu input {
    width: 8px;
    margin: 0;
    border-radius: 5px;
  }
}
</style>
