<template>
  <div id="company">
    <div class="company-container">
    <h1 class="company-title">Mon entreprise</h1>
      <div class="company-avatar">
        <img src="https://via.placeholder.com/130.png" alt="">
        <p class="company-name">
          {{ companyDatas.name }}
        </p>
      </div>

      <div
        v-for="(elementList, key) in companyMenuList"
        :key="key"
        class="company-list"
      >
        <nuxt-link :to="elementList.path" class="company-link">
          <i :class="elementList.icon" />
          {{ elementList.displayName }}
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { menuList } from 'assets/data/consts/company-menu'
import USTitle from '~/components/Atoms/USTitle.vue'

export default {
  components: { USTitle },
  data () {
    return {
      companyMenuList: menuList,
      companyDatas: []
    }
  },
  async mounted () {
    try {
      this.companyDatas = await this.$axios
        .get('/api/current-company')
        .then(response => response.data)
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
<style lang="scss" scoped>
#company {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
  .company {
    &-title {
      font-size: 24px;
      margin-bottom: 25px;
    }
    &-container {
      padding-top: 47px;
      padding-left: var(--side-margin);
      padding-right: var(--side-margin);
      padding-bottom: 66px;
    }
    &-avatar {
      margin-top: 70px;
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }
    &-name {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Gotham';
    }
    &-list {
      text-align: left;
      padding: 24px 0;
      border: solid 1px var(--primary-purple-light);
      border-left: 0;
      border-right: 0;

      &:first-child {
        border-top: 2px solid black;
      }
      & i {
        margin-right: 10px;
        color: red;
        font-size: 22px;
        color: var(--primary-orange-light);
      }
    }
    &-link {
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  }
}
</style>
