<template>
  <div id="company_information">
    <USGoBack to="/company" />

    <h1 class="company__title">
      Mon entreprise
    </h1>

    <USTitle
      class="informations-entreprise"
      title-text="Informations entreprise"
    />

    <div class="company_information-details">
      <USInput
        v-model="company.name"
        label="Nom"
        placeholder="Boulangerie de la rue"
        required
      />

      <USInput
        v-model="company.phoneNumber"
        label="Numéro de téléphone de l'entreprise"
        type="tel"
        placeholder="06.XX.XX.XX.XX"
        required
      />

      <USInput
        v-model="company.companySize"
        label="Effectif de l'entreprise"
        type="number"
        placeholder="15"
        required
      />

      <USInput
        v-model="company.email"
        label="Email de l'entreprise"
        type="email"
        placeholder="entreprise@mail.com"
        required
      />
    </div>

    <USButton
      :disabled="!canUpdate"
      message="Modifier"
      @click.native="updateCompanyData"
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../../components/Atoms/USButton.vue'
import USInput from '../../components/Atoms/USInput.vue'
import USGoBack from '../../components/Atoms/USGoBack.vue'
import USTitle from '../../components/Atoms/USTitle.vue'

export default Vue.extend({
  name: 'UrStockcompanyInformationompany',
  components: {
    USGoBack,
    USInput,
    USButton,
    USTitle
  },
  middleware: 'disconnected',
  data () {
    return {
      company: {
        companySize: 10,
        email: 'test3@mail.com',
        name: 'Boulangerie de la rue',
        phoneNumber: '0666666666'
      }
    }
  },
  computed: {
    canUpdate () {
      if (
        this.company.name &&
                this.company.phoneNumber &&
                this.company.companySize &&
                this.company.email
      ) {
        return true
      }
      return false
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const companyData = await this.$axios.get('/api/current-company')
      this.company = companyData.data
    },
    async updateCompanyData () {
      await this.$axios.patch('/api/current-company/update', {
        name: this.company.name,
        companySize: Number(this.company.companySize),
        phoneNumber: this.company.phoneNumber,
        email: this.company.email
      },
      {
        headers: {
          Authorization: `Bearer ${this.$auth.$state.user.token}`
        }
      }).then(() => {
        this.$router.push('/company')
      })
    }
  }
})
</script>

<style lang="scss" scoped>
#company_information {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 80px;

  .company_information {
    &-details {
      margin: 25px 0;
    }

    &-details .urstock-input:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span {
        font-size: 16px;
      }
    }
  }

  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .informations-entreprise::v-deep h2 {
    border-top: 1px solid #eceaf5;
    padding: 20px 0;
  }

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 42px;
  }

  h3 {
    margin-top: 70px;
    text-align: left;
    border-bottom: 1px solid var(--primary-purple-light);
    padding-bottom: 5px;
  }

  .urstock-cgu {
    font-size: 10px;
    text-align: left;
    display: flex;
    gap: 3px;
    font-weight: 700;
  }

  .urstock-cgu input {
    width: 8px;
    margin: 0;
    border-radius: 5px;
  }
}
</style>
