<template>
  <div id="orders">
    <div class="orders-container">
      <USGoBack to="/company" />
      <h1 class="orders-title">Mon compte</h1>
      <USPageInformation information-text="Historique" />
      <div v-if="ordersData.length > 0">
        <table class="orders-table">
          <tbody>
            <tr v-for="(orderData, key) in ordersData" :key="key" class="orders-tr">
              <td class="orders-td orders-td__primary" data-header="Numéro">
                <nuxt-link class="orders-td__primary" :to="`order/${orderData.id}`">#{{ orderData.id }}</nuxt-link>
              </td>
              <td class="orders-td" data-header="Date">
                {{ orderData.date | date }}
              </td>
              <td class="orders-td" data-header="Suivi">
                {{ orderData.status }}
              </td>
              <td class="orders-td orders-td__primary" data-header="Total">{{ orderData.price }} €</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="no-orders" v-else>
        <img src="/images/woman-on-computer.svg" alt="Pas de commande dans l'historique" />
        <h4>Faites votre première commande !</h4>
        <USLinkButton class="btn-order" message="C'est parti !" linkpage="/commande" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import USTitle from '../../components/Atoms/USTitle.vue'
import USGoBack from '../../components/Atoms/USGoBack.vue'
import USPageInformation from '~/components/Molecules/USPageInformation.vue'
import USLinkButton from '../../components/Atoms/USLinkButton.vue'

export default Vue.extend({
  components: {
    USGoBack,
    USPageInformation,
    USTitle,
    USLinkButton
  },
  filters: {
    date(str) {
      if (!str) {
        return '(n/a)'
      }
      str = new Date(str)
      return (str.getDate() < 10 ? '0' : '') + str.getDate() + '-' + (str.getMonth() < 9 ? '0' : '') + (str.getMonth() + 1) + '-' + str.getFullYear()
    }
  },
  data() {
    return {
      ordersData: []
    }
  },
  async mounted() {
    try {
      this.ordersData = await this.$axios.get('/api/current-company/orders').then((response) => response.data)
      // this.ordersData = []
    } catch (e) {
      console.log(e)
    }
  }
})
</script>
<style lang="scss" scoped>

#orders {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
  .orders {
    &-container {
      padding-top: 47px;
      padding-left: var(--side-margin);
      padding-right: var(--side-margin);
      padding-bottom: 66px;
    }
    &-title {
      font-size: 24px;
      margin-bottom: 25px;
    }
    &-table {
      border: 0;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    &-tr {
      border-bottom: 2px solid var(--primary-purple-light);
      display: block;
      margin-bottom: 15px;
    }
    &-td {
      display: block;
      font-size: 12px;
      text-align: right;
      font-family: 'Itim';
      padding: 6px 0;
      &__primary {
        color: var(--primary-orange);
      }
    }
    &-td::before {
      content: attr(data-header);
      color: black;
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    &-td:last-child {
      border-bottom: 0;
    }
  }

  .no-orders {
    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .btn-order {
      margin: 0 auto;
      width: 200px;
      margin-top: 20px;
    }
  }

  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .urstock-input {
    margin-bottom: 12px;
  }
    .urstock-title {
      margin-bottom: 65px;
    }
}
</style>
