<template>
  <div id="shipping">
    <div class="shipping-container">
      <USGoBack to="/company" />
      <h1 class="shipping-title">Adresse de livraison</h1>
      <USPageInformation information-text="Informations pour la livraison" />
      <div v-if="dataLoaded">
        <form>
          <USInput v-model="shippingDatas.address" label="Adresse :" />
          <USInput
            v-model="shippingDatas.complementOfAddress"
            label="Complément d'adresse :"
          />
          <USInput v-model="shippingDatas.zipcode" label="Code postal :" />
          <USInput v-model="shippingDatas.city" label="Ville :" />
        </form>
        <USButton message="Modifier" @click.native="updateAdressData" class="company-modify" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import USButton from '../../components/Atoms/USButton.vue'
import USPageInformation from '../../components/Molecules/USPageInformation.vue'
import USGoBack from '~/components/Atoms/USGoBack.vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USInput from '~/components/Atoms/USInput.vue'

export default Vue.extend({
  name: 'UrStockAccount',
  components: { USGoBack, USTitle, USInput, USButton, USPageInformation },
  data () {
    return {
      shippingDatas: {},
      dataLoaded: false
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      this.shippingDatas = await this.$axios
        .get('/api/current-company/shipping-address')
        .then(response => response.data)
      this.dataLoaded = true
    },
    async updateAdressData () {
      await this.$axios
        .patch(
          '/api/current-company/shipping-address/update',
          {
            city: this.shippingDatas.city,
            address: this.shippingDatas.address,
            zipCode: this.shippingDatas.zipcode,
            complementOfAddress: this.shippingDatas.complementOfAddress
          },
          {
            headers: {
              Authorization: `Bearer ${this.$auth.$state.user.token}`
            }
          }
        )
        .then(() => {
          this.$router.push('/company')
        })
    }
  }
})
</script>

<style lang="scss" scoped>
#shipping {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
  .shipping {
    &-title {
      font-size: 24px;
      margin-bottom: 25px;
    }
    &-container {
      padding-top: 47px;
      padding-left: var(--side-margin);
      padding-right: var(--side-margin);
      padding-bottom: 66px;
    }
    &-avatar {
      margin-top: 22px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }
    &-modify {
      margin-top: 20px;
      margin-bottom: 5px;
    }
    &-name {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Gotham';
    }
  }
  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .urstock-input {
    margin-bottom: 12px;
  }
}
</style>
