<template>
    <div id="supplier">
        <div class="supplier-container">
            <USGoBack to="/company" />
            <h1 class="supplier-title">Mes fournisseurs</h1>
            <USPageInformation information-text="Historique" />
            <div v-if="suppliersData.length > 0">
                <div v-for="(supplierData, key) in suppliersData" :key="key" class="supplier">
                    <div class="supplier__image"><img src="/images/RecettePainComplet.png"></div>
                    <div class="supplier__content">
                        <p class="supplier__title">
                            {{ supplierData.name }}
                        </p>
                        <p class="supplier__subtitle">{{ supplierData.address }}</p>
                    </div>
                </div>
            </div>
            <div class="no-orders" v-else>
                <img src="/images/woman-on-computer.svg" alt="Pas de commande dans l'historique" />
                <h4>Faites votre première commande !</h4>
                <USLinkButton class="btn-order" message="C'est parti !" linkpage="/commande"/>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import USTitle from '../../components/Atoms/USTitle.vue'
import USGoBack from '../../components/Atoms/USGoBack.vue'
import USPageInformation from '~/components/Molecules/USPageInformation.vue'
import USLinkButton from '../../components/Atoms/USLinkButton.vue'

export default Vue.extend({
    components: {
    USGoBack,
    USPageInformation,
    USTitle,
    USLinkButton
},
    data() {
        return {
            suppliersData: []
        }
    },
    async mounted() {
        try {
            this.suppliersData = await this.$axios.get('/api/current-company/last-vendors').then((response) => response.data)
            // this.suppliersData = []
        } catch (e) {
            console.log(e)
        }
    }
})

</script>
<style lang="scss" scoped>








#supplier {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0;

    .supplier {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        &-title {
        font-size: 24px;
        margin-bottom: 25px;
        }
        &__image{
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            & img{
                width: 100%;
                max-width: 110px;
            }
        }
        &__title{
            font-size: 16px;
            font-weight: 700;
            font-family: "Gotham";
            text-align: left;
            margin-bottom: 10px;
            
        }
        &__subtitle{
            font-size: 12px;
            font-weight: 400;
            font-family: "Gotham";
            text-align: left;
        }
        &__content{
            width: 75%;
            padding-left: 5px;        
        }
        &-container {
            padding-top: 47px;
            padding-left: var(--side-margin);
            padding-right: var(--side-margin);
            padding-bottom: 66px;
        }
    }
    .urstock-go-back {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .urstock-input {
        margin-bottom: 12px;
    }

    .urstock-title {
        margin-bottom: 65px;
        border-bottom: none;
    }
    .no-orders {
        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .btn-order {
            margin: 0 auto;
            width: 200px;
            margin-top: 20px;
        }
    }
}
</style>
