<template>
    <div id="inventaire_confirmation">
        <USGoBack to="inventaire" />
        <h1 class="inventaire__title">Confirmation de l'inventaire</h1>
        <div class="inventaire__checked">
            <i class="ri-checkbox-circle-line"></i>
            <p>Super ! La modification a été fait sur urStock 😊</p>
        </div>
        <img class="homepage-img" src="/images/Connection.png" alt="">

    </div>
</template>

<script lang="js">
import Vue from 'vue'
import USGoBack from '../../components/Atoms/USGoBack.vue'

export default Vue.extend({
    components: {
    USGoBack
},
})
</script>

<style lang="scss">




#inventaire_confirmation {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: var(--side-margin);
    padding-bottom: 88px;
    height: 100vh;

    .inventaire{
        &__title {
            font-size: 24px;
            margin-bottom: 25px;
        }
        &__checked{
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            i{
                font-size: 74px;
                color: var(--secondary-green);
            }
            p{
                margin-top: 24px;
                font-weight: 700;
                font-family: 'Gotham';
                font-size: 20px;
            }
        }
    }
    .homepage-img {
        width: calc(100% + 60px);
        margin-left: -30px;
        margin-top: auto;
        margin-bottom: 88px;
    }
    .urstock-go-back{
        text-align: left;
    }


}
</style>