<template>
  <div id="inventaire">
    <h1 class="inventaire__title">
      Inventaire
    </h1>
    <USSearchBar placeholder="Recherchez votre produit" />
    <div
      v-for="(category, i) in allCategories"
      :key="`category-${i}`"
      class="inventaire__filter-product--container"
    >
      <div v-if="category.categoryProducts && category.categoryProducts.length > 0" class="inventaire__filter--container">
        <USProductFilter
          :text="`🍰 ${category.name}`"
          background-color="pink"
        />
        <NuxtLink
          :to="`/inventaire/category/${category.id}`"
          class="see-all-button"
        >
          Tout voir
        </NuxtLink>
      </div>
      <div class="inventaire__product-card--container">
        <USRecipeCard
          v-for="(product, j) in category.categoryProducts"
          :key="`product-${j}`"
          :card-data="product"
        />
      </div>
    </div>
    <!-- <USLinkButton
      message="Ajouter un nouveau ingrédient"
      linkpage="ajouter_ingredient"
      class="secondary-button"
    />
    <USLinkButton message="Faire l’inventaire" linkpage="" /> -->
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USSearchBar from '../../components/Organisms/USSearchBar.vue'
import USProductFilter from '../../components/Molecules/USProductFilter.vue'
import USRecipeCard from '~/components/Organisms/USRecipeCard.vue'
export default Vue.extend({
  components: {
    USSearchBar, USProductFilter, USRecipeCard
  },
  data () {
    return {
      allCategories: [{
        id: null,
        name: null,
        products: []
      }]
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData () {
      const allCategories = await this.$axios.get('/api/product_sub_categories').then(resp => resp.data)

      allCategories.forEach((cat) => {
        cat.categoryProducts = []
        cat.products.forEach(async (productLink, i) => {
          const product = await this.$axios.get(productLink).then(resp => resp.data)
          cat.categoryProducts.push({
            image: product.picture,
            isFavorite: false,
            name: product.productName,
            unitPrice: `(${(product.price / product.weight).toFixed(2)}€ / kg)`,
            weight: product.weight,
            // brand: 'Moulins d’Aix',
            reference: product.reference,
            price: product.price,
            isInStock: true,
            link: `/inventaire/edit-product/${product.id}`
          })
        })
      })

      this.allCategories = allCategories
    }
  }
})
</script>

<style lang="scss">
#inventaire {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 100px;
  padding-right: 0;
  // height: calc(100vh - var(--side-margin));
  .inventaire__title {
    font-size: 24px;
    margin-bottom: 25px;
    padding-right: var(--side-margin);
  }
  .urstock-searchBar {
    width: calc(100% - var(--side-margin));
    margin-right: var(--side-margin);
  }
  .inventaire__filter--container {
    white-space: nowrap;
    gap: 6px;
    overflow: auto;
    margin-bottom: 16px;
    padding-right: var(--side-margin);
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
    padding-right: var(--side-margin);

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .inventaire__product-card--container {
    display: flex;
    gap: 16px;
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 20px;
    padding-right: var(--side-margin);
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: var(--side-margin);

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .inventaire__filter-product--container {
    position: relative;
  }
  .see-all-button {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #ed8a61;
    position: absolute;
    top: 10px;
    right: var(--side-margin);
  }
  .secondary-button {
    color: var(--primary-orange);
    background: white;
    border: 1px solid;
  }
}
</style>
