<template>
  <div id="commande2">
    <div class="commande__container">
      <h1 class="commande__title">
        Passer une commande
      </h1>
      <USButtonGroup @changeButton="setSelectedButton" />
      <div v-if="selectedButton == 'left'" class="mes-produits">
        <USCommandeFavorite />
      </div>
      <div v-if="selectedButton == 'right'" class="mes-produits">
        <USCommandeRecette :categories="rightData" />
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USCommandeRecette from '../../components/Templates/USCommandeRecette.vue'
import USButtonGroup from '~/components/Molecules/USButtonGroup.vue'
import USCommandeFavorite from '~/components/Templates/USCommandeFavorite.vue'

export default Vue.extend({
  components: {
    USButtonGroup,
    USCommandeFavorite,
    USCommandeRecette
  },
  data () {
    return {
      selectedButton: 'left',
      rightData: []
    }
  },
  mounted () {
    this.fetchRecipes()
  },
  methods: {
    setSelectedButton (button) {
      this.selectedButton = button
    },
    async fetchRecipes () {
      const recipes = await this.$axios.get('/api/current-company/recipes').then(resp => resp.data)
      this.rightData.push({
        title: '',
        recipes
      })
    }
  }
})
</script>

<style lang="scss" scoped>
#commande2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
  // height: calc(100vh - var(--side-margin));
  .commande__container {
    padding-top: var(--side-margin);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    padding-bottom: 66px;
  }
  .commande__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
</style>
