<template>
  <div id="paiement">
    <USBackArrow />

    <div class="card">
      <div>
        <h1 class="cart__title">Choisir une adresse</h1>
        <USTitle
          titleText="Adresse de livraison"
          theme="secondary"
          class="subtitle"
        />
        <USInput label="Adresse :" placeholder="27 Bis Rue du Progrès" v-model="adress" />
        <USInput label="Complément d’adresse :" />
        <div class="city">
          <USInput label="Code Postal :" placeholder="93100" v-model="zipCode" />
          <USInput label="Ville : " placeholder="Montreuil" v-model="city" />
        </div>
      </div>
      <button class="cart__cta--button">
        <a href="/paiement/creneaux">Valider l’adresse de livraison</a>
      </button>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '../../components/Atoms/USTitle.vue'
import USButton from '../../components/Atoms/USButton.vue'
import USInput from '../../components/Atoms/USInput.vue'
import USBackArrow from '../../components/Atoms/USBackArrow.vue'

export default Vue.extend({
  name: 'UrStockPaymentAddress',
  components: {
    USTitle,
    USInput,
    USButton,
    USBackArrow
  },
  data () {
    return {
      zipCode: '77340',
      adress: '21 rue Perdue',
      city: 'Pontault'
    }
  }
})
</script>

<style lang="scss" scoped>
#paiement {
  margin: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;

  .cart__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .city {
    display: flex;
    gap: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subtitle {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  button.cart__cta--button {
    position: fixed;
    bottom: 80px;
    border: none;
    background: #ed8a61;
    border-radius: 5px;
    width: 354px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
    & > a {
      color: #ffffff;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
</style>
