<template>
  <div id="creneaux">
    <USBackArrow />
    <h1 class="cart__title">Choisir un créneau</h1>
    <button class="cart__cta--button">
      <a href="/paiement/recapitulatif">Valider le choix du creneau</a>
    </button>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '../../components/Atoms/USTitle.vue'
import USButton from '../../components/Atoms/USButton.vue'
import USBackArrow from '../../components/Atoms/USBackArrow.vue'

export default Vue.extend({
  name: 'UrStockPaymentCreneaux',
  components: {
    USTitle,
    USButton,
    USBackArrow
  }
})
</script>

<style lang="scss" scoped>
#creneaux {
  text-align: center;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 20px 0;
  }
  .cart__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  button.cart__cta--button {
    position: fixed;
    bottom: 80px;
    border: none;
    background: #ed8a61;
    border-radius: 5px;
    width: 354px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
    & > a {
      color: #ffffff;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
</style>
