<template>
  <div id="final">
    <img class="img-top" src="/images/arrow-left-line.svg" alt="french flag" />

    <div>
      <h1 class="cart__title">Validation de la commande</h1>

      <div class="space">
        <img src="/images/checkbox-circle-line-green.png" alt="" />

        <p>Nous vous remercions d’avoir passé votre commande sur urStock 😊</p>
        <div>
          <p class="delais">
            Votre commande est envoyé auprès de votre fournisseur et traitera la
            demande dans les plus brefs délais 🚚
          </p>
          <a href="/" class="small">
            Rendez-vous sur votre compte pour voir vos commandes passées
          </a>
        </div>
      </div>
    </div>
    <img class="img-bottom" src="/images/illustration.png" alt="" />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '../../components/Atoms/USTitle.vue'

export default Vue.extend({
  name: 'UrStockPaymentFinal',
  components: {
    USTitle
  }
})
</script>

<style lang="scss" scoped>
#final {
  text-align: center;
  display: flex;
  flex-direction: column;
  .cart__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .delais {
    text-align: left;
  }
  .small {
    font-size: 10px;
  }

  .img-bottom {
    margin-top: 100px;
  }
  .img-top {
    width: 30px;
    margin: 10px;
    margin-top: 30px;
  }
  .space {
    padding: 20px;
    & > p {
      padding: 10px;
      font-size: 18px;
    }
  }
}
</style>
