<template>
  <div id="recap">
    <USBackArrow />

    <div class="card">
      <h1 class="cart__title">Recapitulatif</h1>
      <div>
        <div>
          <USTitle
            titleText="Adresse de livraison"
            theme="third"
            class="subtitle"
          />
          <p class="info">27 Bis Rue du Progrès, 93100 Montreuil</p>
        </div>
        <div>
          <USTitle
            titleText="Date et horraire de livraison"
            theme="third"
            class="subtitle"
          />
          <p class="info">Mardi 5 juillet - Entre 7h et 8h</p>
        </div>

        <USTitle titleText="Récapitulatif" theme="third" class="subtitle" />
        <div>
          <div class="flex-jus">
            <p>13 articles</p>
            <p>711,89 €</p>
          </div>
          <div class="flex-jus">
            <p>Frais de livraison</p>
            <p>5,99 €</p>
          </div>
          <div class="flex-jus">
            <USTitle
              titleText="Total de la commande"
              theme="third"
              class="pink"
            />

            <p class="pink">717,88 €</p>
          </div>
        </div>
        <NuxtLink to="/" class="pink"> Ajouter un mode de paiement </NuxtLink>
      </div>
      <button class="cart__cta--button">
        <a href="/paiement/final">Procéder au paiement</a>
      </button>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '../../components/Atoms/USTitle.vue'
import USButton from '../../components/Atoms/USButton.vue'
import USBackArrow from '../../components/Atoms/USBackArrow.vue'

export default Vue.extend({
  name: 'UrStockPaymentRecap',
  components: {
    USTitle,
    USButton,
    USBackArrow
  }
})
</script>

<style lang="scss" scoped>
#recap {
  text-align: center;
  display: flex;
  flex-direction: column;

  .info {
    text-align: left;
    color: #515151;
  }
  .cart__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .flex-jus {
    display: flex;
    justify-content: space-between;
  }
  .subtitle {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .pink {
    color: #ed8a61;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
  }

  button.cart__cta--button {
    position: fixed;
    bottom: 80px;
    border: none;
    background: #ed8a61;
    border-radius: 5px;
    width: 354px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
    & > a {
      color: #ffffff;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
</style>
