<template>
  <div id="inventaire_category">
    <NuxtLink to="/inventaire" class="go-back-button">
      <img src="/images/arrowGoBack.svg" alt="">
    </NuxtLink>
    <USTitle :title-text="`Catégorie ${category.name}`" />
    <USSearchBar placeholder="Recherchez votre produit" />
    <div class="inventaire_category-container">
      <USRecipeCard
        v-for="(product, i) in products"
        :key="`category-${categoryId}_product-${i}`"
        modify-button
        :card-data="product"
      />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USSearchBar from '~/components/Organisms/USSearchBar.vue'
import USRecipeCard from '~/components/Organisms/USRecipeCard.vue'

export default Vue.extend({
  components: {
    USTitle,
    USSearchBar,
    USRecipeCard
  },
  data () {
    return {
      categoryId: this.$route.params.index,
      category: {
        id: null,
        name: null,
        productCategory: null,
        products: []
      },
      products: []
    }
  },
  mounted () {
    this.fetchCategoryProducts()
  },
  methods: {
    async fetchCategoryProducts () {
      const category = await this.$axios.$get(`/api/product_sub_categories/${this.categoryId}`)
      this.category = category
      category.products.forEach(async (productLink) => {
        const product = await this.$axios.$get(productLink)
        this.products.push({
          image: product.picture,
          isFavorite: false,
          name: product.productName,
          unitPrice: `(${(product.price / product.weight).toFixed(2)}€ / kg)`,
          weight: product.weight,
          // brand: 'Moulins d’Aix',
          reference: product.reference,
          price: product.price,
          isInStock: true,
          link: `/inventaire/edit-product/${product.id}`
        })
      })
    }
  }
})
</script>

<style lang="scss">
#inventaire_category {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 100px;
  .urstock-title h2 {
    padding-left: 10px;
    margin: 10px auto;
    font-size: 25px;
  }
  .go-back-button {
    width: fit-content;
    margin-bottom: 15px;
  }
  .inventaire_category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 7px;
    .urstock-recipe-card {
      width: 30%;
    }
  }
}
</style>
