<template>
  <div id="category">
    <NuxtLink to="/commande/suite" class="go-back-button">
      <img src="~/static/images/arrowGoBack.svg">
    </NuxtLink>
    <USTitle title-text="Fruits" />
    <USRecette
      :product-image="TomateRonde.img"
      :product-title="TomateRonde.title"
      :product-subtitle="TomateRonde.productSubtitle"
      :product-price="TomateRonde.productPrice"
      :product-add-button="false"
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USRecette from '~/components/Organisms/USRecette.vue'

export default Vue.extend({
  components: {
    USTitle,
    USRecette
  },
  data () {
    return {
      TomateRonde: {
        title: 'Tomate Ronde',
        productSubtitle: 'Poids : 6kg<br>Marque : Moulins d’Aix<br>Référence : HG8300ZL',
        productMarque: '',
        productReference: '',
        img: '/images/Farine.png',
        productPrice: 112.50
      }
    }
  }
})
</script>

<style lang="scss">
#category {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 66px;
  .urstock-title h2 {
    padding-left: 10px;
    margin: 10px auto;
    font-size: 25px;
  }
  .go-back-button {
    width: fit-content;
    margin-bottom: 15px;
  }
}
</style>
