<template>
  <div class="urstock-cart-article">
    <USRecette
      :product-image="
        recette.img ? recette.img : '/images/recettes/Clafoutis.png'
      "
      :product-title="recette.title"
      :product-subtitle="recette.subtitle"
    />
    <USQuantityButton
      v-model="articleQuantity"
      class="cart__quantity--button"
    />
    <USIngredients
      v-for="(product, i) in products"
      :key="'product-' + i"
      :product-image="product.Ingredient.picture"
      :product-title="product.Ingredient.productName"
      :product-price-per-weight="
        (product.Ingredient.price / product.Ingredient.weight).toFixed(2)
      "
      :product-reference="product.Ingredient.reference"
      :product-availability="product.Ingredient.quantityAvailable"
      :product-price="product.Ingredient.price"
      hide-delete
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USQuantityButton from '../Molecules/USQuantityButton.vue'
import USIngredients from './USIngredients.vue'
import USRecette from './USRecette.vue'

export default Vue.extend({
  components: {
    USIngredients, USQuantityButton, USRecette
  },
  props: {
    recette: {
      type: Object,
      default: () => {
        return {
          img: null,
          title: null,
          subtitle: null
        }
      }
    },
    products: {
      type: Array,
      default: () => []
    },
    quantity: {
      type: Number,
      default: 0
    },
    articleId: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      articleQuantity: this.quantity
    }
  },
  watch: {
    articleQuantity (v) {
      this.articleQuantity = v
      this.handleInput()
    }
  },
  methods: {
    handleInput () {
      this.$emit('update', { quantity: this.articleQuantity, id: this.articleId })
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-cart-article::v-deep {
  .urstock-ingredients {
    &__title {
      font-size: 12px;
    }
    &__subtitle {
      font-size: 10px;
    }
    &__img {
      width: 55px;
    }
  }

  .quantity-button {
    margin-top: 0;
  }

  .urstock-recette__content {
    height: 60px;
    min-height: max-content;
  }
}
</style>
