<template>
  <div class="urstock-cat-thumbnail">
    <NuxtLink :to="`/category/${thumbnailLabel}`">
      <div class="thumbnail">
        <img class="thumbnail-icon" :src="thumbnailIcon" alt="">
        <div class="thumbnail-dark-layer" />
        <img class="thumbnail-image" :src="thumbnailImage" alt="">
      </div>
      <div class="label">
        <p>{{ thumbnailLabel }}</p>
      </div>
    </NuxtLink> 
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    thumbnailIcon: {
      type: String,
      default: ''
    },
    thumbnailImage: {
      type: String,
      default: ''
    },
    thumbnailLabel: {
      type: String,
      default: ''
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-cat-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  position: relative;

  .thumbnail {
    &-icon {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-dark-layer {
      position: absolute;
      z-index: 2;
      background: var(--secondary-black-light);
      width: 100%;
      height: 100%;
    }

    &-image {
      z-index: 1;
      position: absolute;
      left: 0;
    }
  }

  .label {
    padding-top: 85px;

    p {
      font-size: 12px;
      font-weight: 700;
      font-family: "Gotham";
    }
  }
}
</style>
