<template>
  <div>
    <USTitle :title-text="category.title" />
    <div class="commande__recette--container" :class="{ active: isActive }">
      <USRecette
        v-for="(recipe, i) in category.recipes"
        :key="'recipe-' + i"
        :product-image="recipe.img ? recipe.img : '/images/recettes/Clafoutis.png'"
        :product-title="recipe.recipeName"
        :product-subtitle="getIngredients(recipe.ProductsInRecipe)"
        :product-price="recipe.price"
        :recipe-data="recipe"
      />
      <div v-if="category.recipes.length > 3">
        <button
          class="commande__arrowDownLine commande__arrowDownLine-down"
          @click="isActive = !isActive"
        >
          <img :src="arrowDownLine" alt="">
          <span>Voir plus</span>
        </button>
        <button
          class="commande__arrowDownLine commande__arrowDownLine-up"
          @click="isActive = !isActive"
        >
          <img :src="arrowDownLine" alt="">
          <span>Voir moins</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '../Atoms/USTitle.vue'
import USRecette from './USRecette.vue'

export default Vue.extend({
  components: {
    USTitle,
    USRecette
  },
  props: {
    category: {
      type: Object,
      default: () => {
        return {
          title: 'Pain',
          recipes: [{
            productImage: null,
            productTitle: null,
            productSubtitle: null,
            productPrice: null,
            isFavorite: null
          }]
        }
      }
    }
  },
  data () {
    return {
      arrowDownLine: '/images/arrowDownLine.svg',
      isActive: false
    }
  },
  methods: {
    getIngredients (ingredients) {
      let textIngredients = ''

      ingredients.forEach((ingredientData, i) => {
        textIngredients += ingredientData.Ingredient.productName

        if (i !== ingredients.length - 1) {
          textIngredients += ', '
        }
      })

      return textIngredients
    }
  }
})
</script>

<style lang="scss" scoped>
.commande {
  &__arrowDownLine {
    border: none;
    background: transparent;
    margin: 0 0 20px;
    &:hover {
      cursor: pointer;
    }
    & img {
      background: #ed8a61;
      border-radius: 50%;
    }
    & span {
      vertical-align: 8px;
      text-decoration: underline;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
    }
    &-up {
      display: none;
      img {
        transform: rotate(180deg);
      }
    }
  }
  &__container {
    padding-top: var(--side-margin);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    padding-bottom: 66px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  &__category\&title-container {
    margin-bottom: 40px;
  }

  &__filter--container {
    margin-bottom: 30px;
  }
  &__recette--container {
    display: flex;
    flex-direction: column;
  }

  &__recette--container:not(.active) .urstock-recette:nth-child(n + 4) {
    display: none;
  }

  &__recette--container.active &__arrowDownLine-down {
    display: none;
  }
  &__recette--container.active &__arrowDownLine-up {
    display: block;
  }

  &__recette--number-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__filter--container {
    margin-bottom: 0;
  }

  &__recette--number {
    font-size: 12px;
  }
}
.urstock-searchBar {
  margin-right: var(--side-margin);
  margin: 30px 0;
  // width: calc(100% - var(--side-margin));
}

#commande2 .urstock-button {
  margin-right: 0 !important;
  padding: 0 10px;
  font-size: 12px !important;
  height: 36px !important;
}
</style>
