<template>
  <div class="urstock-ingredients">
    <div class="urstock-ingredients__image">
      <img :src="productImage ? productImage : '/images/Farine.png'">
    </div>
    <div class="urstock-ingredients__content">
      <p class="urstock-ingredients__title">
        {{ productTitle }}
      </p>
      <p class="urstock-ingredients__subtitle">
        ({{ productPricePerWeight }}€/kg)
        <br>
        {{ productReference }}
      </p>
      <p v-if="productAvailability" class="urstock-ingredients__availability">
        ✅ En stock
      </p>
      <p
        v-if="!productAvailability"
        class="urstock-ingredients__availability out-of-stock"
      >
        ❌ En rupture
      </p>
    </div>
    <div class="urstock-ingredients__price-container">
      <p class="urstock-ingredients__price">
        {{ productPrice }}€
      </p>
      <div class="urstock-ingredients__linklist">
        <!-- <button class="urstock-ingredients__add-button">
                    {{addButton}}
                </button> -->
        <!-- <button class="urstock-ingredients__change-button">
                    {{changeButton}}
                </button> -->
        <button v-if="!hideDelete" class="urstock-ingredients__delete-button">
          {{ deleteButton }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    productTitle: {
      type: String,
      default: ''
    },
    productPricePerWeight: {
      type: String,
      default: '0'
    },
    productMarque: {
      type: String,
      default: ''
    },
    productReference: {
      type: String,
      default: ''
    },
    productImage: {
      type: String,
      default: '/images/Farine.png'
    },
    productAvailability: {
      type: Boolean,
      default: true
    },
    productPrice: {
      type: Number,
      default: 0
    },
    addButton: {
      type: String,
      default: ''
    },
    changeButton: {
      type: String,
      default: ''
    },
    deleteButton: {
      type: String,
      default: ''
    },
    hideDelete: {
      type: Boolean,
      default: false
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-ingredients {
  display: grid;
  align-items: flex-start;
  // margin: 20px 0;
  grid-template-columns: 20% 55% 25%;
  &__content {
    text-align: left;
    position: relative;
    padding: 8px 16px 16px 16px;
  }
  &__title {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #515151;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__availability {
    font-size: 10px;
    margin-top: 5px;
    font-family: 'Gotham';
    font-weight: 700;
    color: #219653;
    &.out-of-stock {
      color: red;
    }
  }
  &__price {
    color: #ed8a61;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
  &__linklist {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  &__change-button {
    background: transparent;
    border: none;
    font-weight: 400;
    font-size: 10px;
    text-decoration: underline;
  }
  &__delete-button {
    border: none;
    background: transparent;
    vertical-align: -4px;
    &:before {
      content: url('~/static/images/DeleteButton.svg');
    }
  }
  &__price-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>
