<template>
  <div class="urstock-navbar">
    <ul>
      <li
        v-for="(tab, i) in tabs"
        :key="'tab-' + i"
        :class="{ active: activeTab === i }"
        @click.prevent="setActiveTab(i)"
      >
        <nuxt-link :to="tab.link">
          <div v-if="tab.label === 'Panier' && nbArticles" class="nb-articles">
            <p>{{ nbArticles }}</p>
          </div>
          <i :class="tab.icon" />
          {{ tab.label }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script lang="js">
import Vue from 'vue'

export default Vue.extend({
  data () {
    return {
      tabs: [
        { icon: 'ri-funds-box-line', link: '/stock', label: 'Stock' },
        { icon: 'ri-file-search-line', link: '/commande', label: 'Nos produits' },
        { icon: 'ri-shopping-cart-2-fill', link: '/cart', label: 'Panier' },
        { icon: 'ri-clipboard-line', link: '/inventaire', label: 'Inventaire' },
        { icon: 'ri-building-line', link: '/company', label: 'Mon Entreprise' }
      ],
      activeTab: null,
      guestRoutes: [
        '/homepage',
        '/login',
        '/connection',
        '/register',
        '/register/address',
        '/register/company'
      ],
      nbArticles: 0
    }
  },
  mounted () {
    setInterval(() => {
      this.getNbArticles()
    }, 1000)
  },
  methods: {
    getNbArticles () {
      this.nbArticles = this.$auth.$storage.getUniversal('cartNbArticles')
    },
    setActiveTab (index) {
      this.activeTab = index
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-navbar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: white;
  box-shadow: 0px 2px 20px 0px rgb(136 136 136 / 66%);
  z-index: 999;
  ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-around;

    li {
      list-style: none;

      .nb-articles {
        position: absolute;
        right: -5px;
        top: -5px;
        background: white;
        border: 1px solid;
        color: black;
        border-radius: 10px;
        height: 16px;
        line-height: 16px;
        width: 16px;
        text-align: center;

        p {
          font-size: 12px;
        }
      }

      &.active a {
        color: var(--secondary-black);
      }

      a {
        color: var(--secondary-grey-dark);
        font-weight: 700;
        font-size: 8px;
        text-decoration: none;
        display: grid;
        grid-template-rows: 24px 10px;
        gap: 2px;
        transition: all 0.3s ease;
        position: relative;

        i {
          font-size: 20px;
          font-weight: 400;
          display: block;
          margin: auto;
        }
      }
    }
  }
}
</style>
