<template>
  <div class="urstock-product-card">
    <div class="product-favorite">
      <i
        :class="{ 'ri-heart-fill': isFavorite, 'ri-heart-line': !isFavorite }"
      />
    </div>

    <div class="product-img">
      <img src="/images/ProductCardTemplate.png" alt="">
    </div>

    <div class="product-name">
      <h4>Farine T80</h4>
    </div>

    <div class="product-ingredients">
      <p>
        Farine T80, maïzena, beurre, chocolat au lait, oeufs, lait entier, sel,
        truc
      </p>
    </div>

    <div class="product-see-recipe">
      <NuxtLink to="#">Voir la recette</NuxtLink> 
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  data () {
    return {
      isFavorite: false,
      isInStock: false
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-product-card {
  min-width: 130px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 16px 2px;

  .product {
    &-favorite {
      position: absolute;
      color: var(--secondary-red);
      top: 8px;
      right: 8px;
    }

    &-img {
      width: max-content;
      margin: auto;

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }

    &-name {
      height: 45px;
      font-size: 16px;
    }

    &-ingredients {
      p {
        list-style: none;
        font-weight: 400;
        font-size: 12px;
        display: -webkit-box;
        height: 45px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &-see-recipe {
      a {
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 0px;
        color: var(--primary-orange);
      }
    }
  }
}
</style>
