<template>
  <div class="urstock-recette">
    <div class="urstock-recette__image">
      <img :src="productImage">
    </div>
    <div class="urstock-recette__content">
      <p v-if="productTitleVisibility" class="urstock-recette__title">
        {{ productTitle }}
      </p>
      <p class="urstock-recette__subtitle">
        {{ productSubtitle }}
      </p>
      <button
        v-if="productAddButton"
        class="urstock-recette__cta-button"
        @click="addRecipeToCart"
      >
        Ajouter au panier
      </button>
    </div>
    <div v-if="productPrice" class="urstock-recette__price-container">
      <p class="urstock-recette__price">
        {{ productPrice }}€
      </p>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    productTitle: {
      type: String,
      default: ''
    },
    productTitleVisibility: {
      type: Boolean,
      default: true
    },
    productSubtitle: {
      type: String,
      default: ''
    },
    productImage: {
      type: String,
      default: ''
    },
    productEditButton: {
      type: String,
      default: 'Modifier'
    },
    productAddButton: {
      type: Boolean,
      default: true
    },
    productPrice: {
      type: Number,
      default: null
    },
    isFavorite: {
      type: Boolean,
      default: false
    },
    recipeData: {
      type: Object,
      default: null
    }
  },
  methods: {
    addRecipeToCart () {
      let currentCart = this.$auth.$storage.getUniversal('cart')

      if (!currentCart) {
        currentCart = []
      }

      this.$auth.$storage.removeUniversal('cart')
      this.$auth.$storage.removeUniversal('cartNbArticles')

      if (this.recipeData) {
        currentCart.push(this.recipeData)

        this.$auth.$storage.setUniversal('cart', currentCart)
        this.$auth.$storage.setUniversal('cartNbArticles', currentCart.length)
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-recette {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 20% 55% 25%;
  &__content {
    text-align: left;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 8px 16px 8px 16px;
    flex-direction: column;
  }
  &__title {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  &__subtitle {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #515151;
    text-transform: capitalize;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__price-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  &__price {
    color: #ed8a61;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  &__cta-button {
    background: #ed8a61;
    border-radius: 5px;
    border: none;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    color: white;
    width: 121px;
    height: 25px;
    margin-top: 10px;
  }
}
</style>
