<template>
  <div class="urstock-recipe-card">
    <div class="recipe-favorite">
      <i
        :class="{
          'ri-heart-fill': cardData.isFavorite,
          'ri-heart-line': !cardData.isFavorite
        }"
      />
    </div>

    <div class="recipe-img">
      <img
        :src="
          cardData.image ? cardData.image : '/images/RecipeCardTemplate.png'
        "
        alt=""
      >
    </div>

    <div class="recipe-name">
      <h4>{{ cardData.name }}</h4>
    </div>

    <div class="recipe-details">
      <ul>
        <li>{{ cardData.unitPrice }}</li>
        <li>Poids : {{ cardData.weight }}kg</li>
        <!-- <li>Marque : {{ cardData.brand }}</li> -->
        <li>Référence : {{ cardData.reference }}</li>
      </ul>
    </div>

    <div class="recipe-see-more">
      <!-- <NuxtLink to="#">
        Voir plus de détails
      </NuxtLink> -->
    </div>

    <div class="recipe-recipe-status">
      <div v-show="cardData.quantityAvailable" class="in-stock">
        <p><i class="ri-checkbox-circle-fill" /> En stock</p>
      </div>
      <div v-show="!cardData.quantityAvailable" class="out-of-stock">
        <p><i class="ri-close-circle-fill" />En rupture</p>
      </div>
    </div>

    <div class="recipe-price">
      <p>{{ cardData.price }}€</p>
    </div>

    <!-- <USLinkButton
      v-show="modifyButton"
      message="Modifier"
      :linkpage="cardData.link"
      class="modifyButton"
    /> -->
  </div>
</template>

<script lang="js">
import Vue from 'vue'
// import USLinkButton from '../Atoms/USLinkButton.vue'

export default Vue.extend({
  // components: {
  //   USLinkButton
  // },
  props: {
    modifyButton: {
      type: Boolean,
      default: false
    },
    cardData: {
      type: Object,
      default: () => {
        return {
          image: '/images/RecipeCardTemplate.png',
          isFavorite: false,
          name: 'Farine T80',
          unitPrice: '(0,74€ / kg)',
          weight: '25kg',
          // brand: 'Moulins d’Aix',
          reference: 'TR450987',
          price: 18.3,
          isInStock: true,
          link: '#'
        }
      }
    }
  },
  data () {
    return {
      isFavorite: false,
      isInStock: false
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-recipe-card {
  width: 134px;
  min-width: 134px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 10px 2px;

  .modifyButton {
    height: 30px;
    margin: auto;
    width: 80px;
    margin-top: 10px;
    padding: 0 15px;
    border: none;
    background: #ed8a61;
    border-radius: 5px;
    font-family: 'Itim';
    color: white;
  }

  .recipe {
    &-favorite {
      position: absolute;
      color: var(--secondary-red);
      top: 8px;
      right: 8px;
    }

    &-img {
      width: max-content;
      margin: auto;
      margin-top: 25px;

      img {
        max-width: 80px;
        max-height: 80px;
      }
    }

    &-name {
      height: 40px;
      font-size: 16px;
      margin-top: 10px;
    }

    &-details {
      ul {
        padding: 0;
        margin-top: 5px;
        margin-bottom: 8px;

        li {
          list-style: none;
          font-weight: 400;
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &-see-more {
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 0px;
    }

    &-recipe-status {
      margin-top: 8px;

      p {
        font-family: 'Gotham';
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 10px;

        i {
          font-size: 14px;
          margin-right: 5px;
        }
      }

      .in-stock {
        color: var(--secondary-green);
      }

      .out-of-stock {
        color: var(--secondary-red);
      }
    }

    &-price {
      margin-top: 8px;

      p {
        font-weight: 700;
        font-size: 20px;
        font-family: 'Gotham';
        color: var(--primary-orange);
      }
    }
  }
}
</style>
