<template>
  <div class="urstock-searchBar">
    <img
      class="searchBar__icon"
      src="/images/SearchIcon.svg"
      alt="search icon"
    >
    <input v-model="content" type="text" :placeholder="placeholder">
    <div v-if="filters.length > 0" class="searchBar__filter">
      <button class="searchBar__filter-button" @click="isActive = !isActive">
        <img src="/images/Filter.svg" alt="filter system">
      </button>
      <div class="searchBar__filter-list" :class="{ active: isActive }">
        <p
          v-for="(filter, i) in searchFilters"
          :key="'tab-' + i"
          :class="{ active: current === filter.id }"
          @click="setCurrent(filter.id)"
        >
          {{ filter.label }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    placeholder: {
      type: String,
      default: 'C10, Métro, TransGourmet...'
    },
    filters: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      searchFilters: this.filters,
      isActive: false,
      current: null,
      content: null,
      search: null
    }
  },
  watch: {
    content (v) {
      this.search = v
      if (!v) {
        this.$emit('search', '')
        return
      }
      this.$emit('search', this.search)
    }
  },
  methods: {
    setCurrent (id) {
      this.current = id
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-searchBar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px auto;

  width: 100%;
  input {
    background: #f5f6f8;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 100%;
    padding: 13px 50px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .searchBar__icon {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
  }
  .searchBar__filter {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
  }
  .searchBar__filter-button {
    background: transparent;
    border: none;
    padding: 0;
    display: block;
  }
  .searchBar__filter-list {
    // display: none;
  }
  .searchBar__filter-list {
    background: #f5f6f8;
    padding: 20px 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0px #888888a8;
    display: none;
    &.active {
      display: unset;
    }
  }
  .searchBar__filter-list p {
    padding: 5px;
    font-family: 'Itim';
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &.active {
      color: white;
      background: black;
      border-radius: 5px;
    }
  }
}
</style>
