<template>
  <div class="slider">
    <div class="slider-slides">
      <div
        class="slides--container"
        :style="`transform: translateX(calc(5vw + ${-(activeSlide - 1)} * 100vw))`"
      >
        <div
          v-for="(slide, i) in slides"
          :key="`slide-${i + 1}`"
          class="slider-slide"
        >
          <img :src="slide">
        </div>
      </div>
    </div>
    <div class="slider-dots">
      <i
        class="ri-arrow-left-s-line slider-arrow"
        @click="goToSlide(activeSlide - 1)"
      />
      <i
        v-for="(slide, i) in slides"
        :key="`slide-dot-${i + 1}`"
        :class="{
          'ri-checkbox-blank-circle-fill': true,
          'slider-dot': true,
          'active-slide': activeSlide === i + 1,
        }"
        @click="goToSlide(i + 1)"
      />
      <i
        class="ri-arrow-right-s-line slider-arrow"
        @click="goToSlide(activeSlide + 1)"
      />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    slides: {
      type: Array,
      required: true
    },
    defaultActiveSlide: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      activeSlide: this.defaultActiveSlide
    }
  },
  methods: {
    goToSlide (slideNumber) {
      if (slideNumber > Number(this.slides.length)) {
        this.activeSlide = 1
      } else if (slideNumber < 1) {
        this.activeSlide = Number(this.slides.length)
      } else {
        this.activeSlide = slideNumber
      }

      this.$emit('changeSlide', this.activeSlide)
    }
  }
})
</script>

<style lang="scss" scoped>
.slider {
  &-slides {
    overflow: hidden;
    width: 100%;

    .slides--container {
      width: max-content;
      display: flex;
      gap: 10vw;
      transition: all 0.3s ease;

      .slider-slide {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80%;
          padding-bottom: 10px;
        }
      }
    }
  }

  &-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    & > .slider-dot {
      font-size: 8px;
      color: #c4c4c4;
      transition: all 0.3s ease;
      cursor: pointer;

      &.active-slide {
        color: black;
        font-size: 10px;
      }
    }

    & > .slider-arrow {
      cursor: pointer;
    }
  }
}
</style>
