<template>
  <div class="statistiques">
    <div class="statistiques-info">
      <p class="statistiques-budget">
        <i class="ri-money-euro-circle-line" /> Ventes :
      </p>
      <div v-if="valueStock > 0" class="statistiques-bump">
        <i class="ri-arrow-up-line" />{{ valueStock }}% en plus <br>
        par rapport à <br>
        2021
      </div>
      <div v-else class="statistiques-bump">
        <i class="ri-arrow-down-line crash" />{{ valueStock }}% par rapport
        <br>
        à 2021
      </div>
      <nuxt-link to="stats/sell" class="statistiques-more">
        En savoir +
      </nuxt-link>
    </div>
    <div class="statistiques-graph">
      <div class="statistiques-progress">
        <div class="statistiques-circular">
          <p class="statistiques-circulars">
            0%
          </p>
          <p class="statistiques-circulars__text">
            Ventes
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    valueStock: {
      type: Number,
      default: 0
    },
    valueStockText: {
      type: String,
      default: ''
    },
    valueStockColor: {
      type: String,
      default: '#ed8a61'
    }
  },
  data () {
    return {
      activeTab: 'Stock',
      defaultValueStockColor: '#ec212e'
    }
  },
  mounted () {
    const progressBar = document.querySelector(
      '.statistiques-progress'
    )
    const valueContainer = document.querySelector(
      '.statistiques-circulars'
    )

    if (this.valueStock <= 0) {
      let progressValue = 0
      const progressEndValue = this.valueStock
      const speed = 5
      const colorCircle = this.defaultValueStockColor

      const progress = setInterval(() => {
        progressValue++
        valueContainer.textContent = `${progressEndValue}%`
        progressBar.style.background = `conic-gradient(
              ${colorCircle} ${progressValue * 3.6}deg,
              #ECF3FE ${progressValue * 3.6}deg
          )`
        if (progressValue === 100) {
          clearInterval(progress)
        }
      }, speed)
    } else {
      let progressValue = 0
      const progressEndValue = this.valueStock
      const speed = 5
      const colorCircle = this.valueStockColor
      const progress = setInterval(() => {
        progressValue++
        valueContainer.textContent = `${progressValue}%`
        progressBar.style.background = `conic-gradient(
              ${colorCircle} ${progressValue * 3.6}deg,
              #ECF3FE ${progressValue * 3.6}deg
          )`
        if (progressValue === progressEndValue) {
          clearInterval(progress)
        }
      }, speed)
    }
  }
})
</script>

<style lang="scss" scoped>
.statistiques {
  display: flex;
  flex-direction: row;
  margin-right: var(--side-margin);
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &-progress {
    position: relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  &-progress:before {
    content: '';
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  &-circular {
    position: relative;
    &s {
      font-family: 'Gotham', sans-serif;
      font-size: 24px;
      color: var(--primary-orange);
      font-weight: 700;
      
    }
  }

  &-info {
    width: 50%;
    padding: 12px 6px;
    text-align: left;
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: 700;
  }
  &-more {
    margin-top: 18px;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: var(--primary-orange);
  }
  &-bump {
    display: flex;
    font-size: 16px;
    & i {
      color: var(--secondary-green);
    }
    & .crash {
      color: var(--secondary-red);
    }
  }
  &-budget {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
</style>
