<template>
  <div class="statistiques">
    <div class="statistiques-info">
      <p class="statistiques-revenues">
        <i class="ri-money-euro-circle-line" /> Revenues :
      </p>
      <div v-if="valueStock > 0" class="statistiques-bump">
        <i class="ri-arrow-up-line" />{{ valueStock }}% en plus <br>
        par rapport à <br>
        2021
      </div>
      <div v-else class="statistiques-bump">
        <i class="ri-arrow-down-line crash" />{{ valueStock }}% par rapport
        <br>
        à 2021
      </div>
      <nuxt-link to="stats/revenues" class="statistiques-more">
        En savoir +
      </nuxt-link>
    </div>
    <div class="statistiques-graph">
      <div
        ref="statistiquesProgressRevenues"
        class="statistiques-progress-revenues"
      >
        <div class="statistiques-circular">
          <p
            ref="statistiquesCircularsRevenues"
            class="statistiques-circulars-revenues"
          >
            0%
          </p>
          <p class="statistiques-circulars__text">
            Revenues
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    valueStock: {
      type: Number,
      default: 0
    },
    valueStockText: {
      type: String,
      default: ''
    },
    valueStockColorRevenues: {
      type: String,
      default: '#ed8a61'
    }
  },
  data () {
    return {
      activeTab: 'Stock',
      defaultValueStockColorRevenues: '#ec212e'
    }
  },
  mounted () {
    const progressBarRevenues = document.querySelector(
      '.statistiques-progress-revenues'
    )
    const valueContainerRevenues = document.querySelector(
      '.statistiques-circulars-revenues'
    )

    if (this.valueStock <= 0 && progressBarRevenues && valueContainerRevenues) {
      let progressValueRevenues = 0
      const progressEndValueRevenues = this.valueStock
      const speed = 5
      const colorCircleRevenues = this.defaultValueStockColorRevenues

      const progressRevenues = setInterval(() => {
        progressValueRevenues++
        valueContainerRevenues.textContent = `${progressEndValueRevenues}%`
        progressBarRevenues.style.background = `conic-gradient(
              ${colorCircleRevenues} ${progressValueRevenues * 3.6}deg,
              #ECF3FE ${progressValueRevenues * 3.6}deg
          )`
        if (progressValueRevenues === 100) {
          clearInterval(progressRevenues)
        }
      }, speed)
    } else if (valueContainerRevenues) {
      let progressValueRevenues = 0
      const progressEndValueRevenues = this.valueStock
      const speed = 5
      const colorCircleRevenues = this.valueStockColorRevenues
      const progress = setInterval(() => {
        progressValueRevenues++
        valueContainerRevenues.textContent = `${progressValueRevenues}%`
        progressBarRevenues.style.background = `conic-gradient(
              ${colorCircleRevenues} ${progressValueRevenues * 3.6}deg,
              #ECF3FE ${progressValueRevenues * 3.6}deg
          )`
        if (progressValueRevenues === progressEndValueRevenues) {
          clearInterval(progress)
        }
      }, speed)
    }
  }
})
</script>

<style lang="scss" scoped>
.statistiques {
  display: flex;
  flex-direction: row;
  margin-right: var(--side-margin);
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &-progress-revenues {
    position: relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  &-progress-revenues:before {
    content: '';
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  &-circular {
    position: relative;
    &s {
      &-revenues {
        font-family: 'Gotham', sans-serif;
        font-size: 24px;
        color: var(--primary-orange);
        font-weight: 700;
        
      }
    }
  }

  &-info {
    width: 50%;
    padding: 12px 6px;
    text-align: left;
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: 700;
  }
  &-more {
    margin-top: 18px;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: var(--primary-orange);
  }
  &-bump {
    display: flex;
    font-size: 16px;
    & i {
      color: var(--secondary-green);
    }
    & .crash {
      color: var(--secondary-red);
    }
  }
  &-revenues {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
</style>
