<template>
  <div class="statistiques">
    <div class="statistiques-info">
      <p class="statistiques-budget">
        <i class="ri-money-euro-circle-line" /> Budget :
      </p>
      <div v-if="valueStock > 0" class="statistiques-bump">
        <i class="ri-arrow-up-line" />{{ valueStock }}% en plus <br>
        par rapport à <br>
        2021
      </div>
      <div v-else class="statistiques-bump">
        <i class="ri-arrow-down-line crash" />{{ valueStock }}% par rapport
        <br>
        à 2021
      </div>
      <nuxt-link to="stats/budget" class="statistiques-more">
        En savoir +
      </nuxt-link>
    </div>
    <div class="statistiques-graph">
      <div
        ref="statistiquesProgressBudget"
        class="statistiques-progress-budget"
      >
        <div class="statistiques-circular">
          <p
            ref="statistiquesCircularsBudget"
            class="statistiques-circulars-budget"
          >
            0%
          </p>
          <p class="statistiques-circulars__text">
            Budget
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    valueStock: {
      type: Number,
      default: 0
    },
    valueStockText: {
      type: String,
      default: ''
    },
    valueStockColorBudget: {
      type: String,
      default: '#ed8a61'
    }
  },
  data () {
    return {
      activeTab: 'Stock',
      defaultValueStockColorBudget: '#ec212e'
    }
  },
  mounted () {
    const progressBarBudget = document.querySelector(
      '.statistiques-progress-budget'
    )
    const valueContainerBudget = document.querySelector(
      '.statistiques-circulars-budget'
    )

    if (this.valueStock <= 0 && progressBarBudget && valueContainerBudget) {
      let progressValueBudget = 0
      const progressEndValueBudget = this.valueStock
      const speed = 5
      const colorCircleBudget = this.defaultValueStockColorBudget

      const progressBudget = setInterval(() => {
        progressValueBudget++
        valueContainerBudget.textContent = `${progressEndValueBudget}%`
        progressBarBudget.style.background = `conic-gradient(
              ${colorCircleBudget} ${progressValueBudget * 3.6}deg,
              #ECF3FE ${progressValueBudget * 3.6}deg
          )`
        if (progressValueBudget === 100) {
          clearInterval(progressBudget)
        }
      }, speed)
    } else if (valueContainerBudget) {
      let progressValueBudget = 0
      const progressEndValueBudget = this.valueStock
      const speed = 5
      const colorCircleBudget = this.valueStockColorBudget
      const progress = setInterval(() => {
        progressValueBudget++
        valueContainerBudget.textContent = `${progressValueBudget}%`
        progressBarBudget.style.background = `conic-gradient(
              ${colorCircleBudget} ${progressValueBudget * 3.6}deg,
              #ECF3FE ${progressValueBudget * 3.6}deg
          )`
        if (progressValueBudget === progressEndValueBudget) {
          clearInterval(progress)
        }
      }, speed)
    }
  }
})
</script>

<style lang="scss" scoped>
.statistiques {
  display: flex;
  flex-direction: row;
  margin-right: var(--side-margin);
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &-progress-budget {
    position: relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  &-progress-budget:before {
    content: '';
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  &-circular {
    position: relative;
    &s {
      &-budget {
        font-family: 'Gotham', sans-serif;
        font-size: 24px;
        color: var(--primary-orange);
        font-weight: 700;
        
      }
    }
  }

  &-info {
    width: 50%;
    padding: 12px 6px;
    text-align: left;
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: 700;
  }
  &-more {
    margin-top: 18px;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: var(--primary-orange);
  }
  &-bump {
    display: flex;
    font-size: 16px;
    & i {
      color: var(--secondary-green);
    }
    & .crash {
      color: var(--secondary-red);
    }
  }
  &-budget {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
</style>
