<template>
  <div class="urstock-supplier-card">
    <div class="left-side">
      <img :src="logo" alt="">
      <p>Exclusivement la livraison</p>
    </div>

    <div class="right-side">
      <div class="rate">
        <i
          v-for="i in rate"
          :key="brand + '-star-' + i"
          class="ri-star-fill"
        />
        <i
          v-for="i in 5 - rate"
          :key="brand + '-star-' + i"
          class="ri-star-line"
        />
      </div>
      <div class="truck-icon">
        <i class="ri-truck-fill" />
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    rate: {
      type: Number,
      default: 0
    },
    logo: {
      type: String,
      default: ''
    },
    brand: {
      type: String,
      default: ''
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-supplier-card {
  border: 0.5px solid var(--primary-purple-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;

  .left-side {
    padding: 8px 16px 16px 16px;
    img {
      height: 40px;
    }

    p {
      font-size: 16px;
      color: var(--primary-orange);
    }
  }

  .right-side {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px 16px 16px 16px;

    .rate {
      display: flex;

      i {
        font-size: 10px;
      }
    }

    .truck-icon {
      margin-top: 16px;
      color: var(--secondary-grey-dark);
    }
  }
}
</style>
