@import "remixicon/fonts/remixicon.css";

p, ul {
  font-family: "Itim";
  font-size: 16px;
  margin: 0;
}

li {
  font-family: "Itim";
}

body {
  overflow-x: hidden;
  margin: 0;
}

body,
#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
label,
small {
  font-family: "Gotham";
  margin: 0;
}

a {
  color: var(--secondary-black);
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 23px;
}
