<template>
  <div id="ajouter_ingredient">
    <h1 class="inventaire__title">
      Ajouter un ingrédient
    </h1>
    <USTitle title-text="Nouveau Ingrédient" />
    <div class="inventaire__product">
      <img src="~/static/images/RecettePainComplet.png" alt="">
      <button class="inventaire__edit-product">
        <img src="~/static/images/edit_button.png" alt="">
      </button>
    </div>
    <div>
      <form>
        <USInput label="Nom du produit" />
        <USInput label="Categorie" />
        <!-- <USInput label="Marque" /> -->
        <USInput label="Référence" />
        <USInput label="Prix au kg" />
        <USInput label="Quantité" type="number" style="width: 50%" />
      </form>
      <USButton message="Valider" class="company-modify" />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USInput from '~/components/Atoms/USInput.vue'
import USButton from '~/components/Atoms/USButton.vue'
export default Vue.extend({
  components: {
    USTitle, USInput, USButton
  }
})
</script>

<style lang="scss">
#ajouter_ingredient {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 100px;
  // padding-right: 0;
  .inventaire__title {
    font-size: 24px;
    margin-bottom: 25px;
    padding-right: var(--side-margin);
  }
  .inventaire__product {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto;
  }
  .inventaire__edit-product {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -15%;
  }
}
</style>
