<template>
  <div class="urstock-button-group">
    <USButton
      :class="{ 'left-button': true, active: activeButton == 'left' }"
      message="Mes produits"
      @click.native="setActiveButton('left')"
    />
    <USButton
      :class="{ 'right-button': true, active: activeButton == 'right' }"
      message="Mes recettes"
      @click.native="setActiveButton('right')"
    />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../Atoms/USButton.vue'

export default Vue.extend({
  components: {
    USButton
  },
  props: {
    defaultButton: {
      type: String,
      default: 'left'
    }
  },
  data () {
    return {
      activeButton: this.defaultButton
    }
  },
  methods: {
    setActiveButton (button) {
      this.activeButton = button

      this.$emit('changeButton', button)
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-button-group {
  display: flex;
  .urstock-button {
    width: 50%;
  }
  &::v-deep .urstock-button {
    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &:hover {
      background-color: var(--primary-orange);
    }

    &:not(.active) {
      background-color: var(--primary-orange-light);
    }
  }
}
</style>
