<template>
  <div class="urstock-information">
    <h3>
      {{ informationText }}
      <span v-if="informationSpan">Effectué le {{ informationSubText }}</span>
    </h3>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    informationText: {
      type: String,
      default: ''
    },
    informationSubText: {
      type: String,
      default: ''
    },
    informationSpan: {
      type: Boolean,
      default: false
    }
  }
})
</script>

<style lang="scss" scoped>
  .urstock-information h3 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: left;
    padding: 21px 0px;
    border-bottom: 1px solid #ECEAF5;
    border-top: 1px solid #ECEAF5;
    margin-bottom: 20px;
    & span{
      font-size: 13px;
      font-weight: 300;
    }
  }
</style>
