<template>
  <div class="urstock-product-filter" :class="backgroundColor" >
    <p>{{ text }}</p>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    text: {
      type: String,
      default: ''
    },
    backgroundColor: {
      type: String,
      default: ''
    }
  }
})
</script>

<style lang="scss" scoped>
    .urstock-product-filter {
        background: antiquewhite;
        width: fit-content;
        padding: 10.5px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 5px;
        p {
            font-weight: 700;
            font-size: 10px;
            line-height: 11px;
        }
        &.brown {
          background: #F6E0D1;
        }
        &.pink {
          background: #F6D5DF;
        }
        &.green {
          background: #D9EFD8;
        }
        &.yellow {
          background: #FCEAB9;
        }
    }
</style>
