<template>
  <div class="quantity-button">
    <USButton message="-" @click.native="updateQuantity('-')" />
    <input v-model="quantity" type="number" @input="handleInput">
    pièces
    <USButton message="+" @click.native="updateQuantity('+')" />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../Atoms/USButton.vue'
export default Vue.extend({
  components: {
    USButton
  },
  props: {
    value: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      quantity: this.value
    }
  },
  watch: {
    value (v) {
      this.quantity = v
    }
  },
  methods: {
    updateQuantity (operator) {
      if (operator === '+') {
        this.quantity++
      } else if (this.quantity >= 1) {
        this.quantity--
      }
      this.handleInput()
    },
    handleInput () {
      this.$emit('input', this.quantity)
    }
  }
})
</script>

<style lang="scss" scoped>
.quantity-button::v-deep {
  width: 131px;
  height: 35px;
  background: #ed8a61;
  border-radius: 20px;
  line-height: 35px;
  margin: 10px auto;
  color: #ffffff;
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;

  button {
    background: transparent;
    border: 0;
    color: white;
    width: fit-content;
    margin: auto;
    padding: 0%;
    height: auto;
    display: unset;
  }

  input,
  .urstock-input {
    font-family: 'Itim';
    background: transparent;
    border: none;
    width: 30px;
    pointer-events: none;
    color: white;
    margin: auto;
    padding: 0%;
    height: auto;
    display: unset;
    margin: 0;
  }
}
</style>
