<template>
  <a href="javascript:history.back()">
    <img src="/images/arrow-left-line.svg" alt="french flag" />
  </a>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  name: 'UrStockBackArrow'
})
</script>

<style lang="scss" scoped>
a {
  width: 30px;
  margin: 10px;
  align-self: start;
}
</style>
