<template>
  <h1 class="urstock-title">
    <img src="/logo-urstock.png" alt="">
    urStock
  </h1>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  name: 'UrStockBrand'
})
</script>

<style lang="scss" scoped>
.urstock-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
</style>
