<template>
  <button class="urstock-button" :class="{ plain: plain, loading: loading }" :style="`${color ? '--button-color:' + color : null}`" :disabled="disabled">
    {{ message }}
    <USSpinner v-if="loading" class="loading" />
  </button>
</template>

<script lang="js">
import Vue from 'vue'
import USSpinner from './USSpinner.vue'

export default Vue.extend({
  name: 'UrStockButton',
  components: {
    USSpinner
  },
  props: {
    message: {
      type: String,
      default: ''
    },
    plain: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'button'
    }
  },
  data () {
    return {
      themeProps: {
        primary: {
          default: '#ED8A61',
          hover: '#F1AB8E'
        },
        secondary: {
          default: '#F1AB8E',
          hover: '#ED8A61'
        }
      },
      sizeProps: {
        auto: {
          width: 'auto'
        },
        full: {
          width: '100%'
        },
        split: {
          width: '50%'
        }
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-button {
  display: flex;
  align-items: center;
  justify-content: center;
  --button-color: var(--primary-orange);
  --button-color-hover: var(--primary-orange-light);
  background-color: var(--button-color);
  height: 48px;
  padding: 16px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border: none;
  transition: all ease 0.3s;
  color: white;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  width: 100%;

  &:not([disabled]):hover {
    background-color: var(--button-color-hover);
  }

  &.loading {
    transition: none;
    color: transparent;
  }

  &:disabled {
    cursor: default;
    opacity: 0.7;
  }

  &.plain {
    background-color: transparent;
    color: var(--button-color);
    border: solid 1px var(--button-color);

    &:hover {
      background-color: transparent;
      color: var(--button-color-hover);
    }
  }
}
</style>
