<template>
  <div>
    <img src="{CheckboxCheck}" alt="checkbox" />
    <p class="text">
      {{ text }}
    </p>
  </div>
</template>

<script lang="js">
import Vue from 'vue'

export default Vue.extend({
  name: 'UrStockCheckbox',
  props: {
    text: {
      type: String,
      default: ''
    },
    check: { type: Boolean }
  }
})
</script>

<style lang="scss" scoped>
.urstock-button {
  font-size: default;
}
</style>
