<template>
  <div class="urstock-go-back">
    <NuxtLink :to="to">
      <i class="ri-arrow-left-line" />
    </NuxtLink>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    to: {
      type: String,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-go-back {
  font-size: 24px;

  a {
    text-decoration: none;
    color: var(--secondary-black);
  }
}
</style>
