<template>
  <div class="urstock-input">
    <label for="input">{{ label }} <span v-if="required">*</span></label>
    <input
      v-model="content"
      :disabled="disabled"
      :type="type"
      :step="type == 'number' ? step : ''"
      name="input"
      :placeholder="placeholder"
      :required="required"
      @input="handleInput"
    >
    <p v-if="error" class="error">
      <i class="ri-error-warning-line" />{{ error }}
    </p>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  name: 'UrStockInput',
  props: {
    label: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number],
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    step: {
      type: String,
      default: '1'
    }
  },
  data () {
    return {
      content: this.value
    }
  },
  watch: {
    value (v) {
      this.content = v
    }
  },
  methods: {
    handleInput () {
      this.$emit('input', this.content)
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-input {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 0;

  label {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
  }
  span {
    color: var(--secondary-red);
    font-weight: 700;
  }
  input {
    background-color: var(--primary-yellow-light);
    font-size: 12px;
    outline: none;
    border: none;
    padding: 15px;
    color: var(--secondary-grey);
    font-family: 'Itim';

    &[disabled] {
      user-select: none;
      pointer-events: none;
    }
  }

  .error {
    color: var(--secondary-red);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
}
</style>
