<template>
  <nuxt-link :to="linkpage" class="urstock-button" :class="{ plain: plain }">
    {{ message }}
  </nuxt-link>
</template>

<script lang="js">
import Vue from 'vue'

export default Vue.extend({
  name: 'UrStockLinkButton',
  props: {
    message: {
      type: String,
      default: ''
    },
    plain: {
      type: Boolean,
      default: false
    },
    linkpage: {
      type: String,
      default: ''
    }
  },
  data () {
    return {}
  }
})
</script>

<style lang="scss" scoped>
.urstock-button {
  display: flex;
  align-items: center;
  justify-content: center;
  --button-color: var(--primary-orange);
  --button-color-hover: var(--primary-orange-light);
  background-color: var(--button-color);
  height: 48px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  border: none;
  transition: all ease 0.3s;
  color: white;
  font-weight: 700;
  margin-right: var(--side-margin);
  font-size: 16px;
  text-decoration: none;

  &:hover {
    background-color: var(--button-color-hover);
  }

  &:disabled {
    cursor: default;
    opacity: 0.7;
  }

  &.plain {
    background-color: transparent;
    color: var(--button-color);
    border: 2px solid var(--button-color);

    &:hover {
      background-color: var(--button-color);
      color: var(--secondary-white);
    }
  }
}
</style>
