<template>
  <div class="urstock-title">
    <h2 :class="{'align-center': center}">
      {{ titleText }}
    </h2>
  </div>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  name: 'UrStockTitle',
  props: {
    titleText: {
      type: String,
      default: ''
    },
    center: {
      type: Boolean,
      default: false
    }
  }
})
</script>

<style lang="scss" scoped>

    .urstock-title h2 {
      text-align: left;
      padding-bottom: 5px;
      color: var(--secondary-black);
      border-bottom: 1px solid #ECEAF5;
      margin-bottom: 10px;
      font-size: 18px;

      &.align-center {
        text-align: center;
      }
    }
</style>
