<template>
  <div>
    <USNavBar />
    <Nuxt />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USNavBar from '../components/Organisms/USNavBar.vue'
import pkg from './../package.json'

export default Vue.extend({
  name: 'DefaultLayout',
  components: {
    USNavBar
  },
  data () {
    return {
      appVersion: pkg.version
    }
  },
  mounted () {
    this.getUserData()
    console.log(`Version de l'application: ${this.appVersion}`)
  },
  methods: {
    getUserData () {
      const userData = this.$auth.$storage.getUniversal('user')
      if (userData) {
        this.$auth.setUser(userData)
      }
    }
  }
})
</script>
