<template>
  <nuxt />
</template>

<script lang="js">
import Vue from 'vue'
import pkg from './../package.json'

export default Vue.extend({
  name: 'EmptyLayout',
  data () {
    return {
      appVersion: pkg.version
    }
  },
  mounted () {
    this.getUserData()
    console.log(`Version de l'application: ${this.appVersion}`)
  },
  methods: {
    getUserData () {
      const userData = this.$auth.$storage.getUniversal('user')
      if (userData) {
        this.$auth.setUser(userData)
      }
    }
  }
})
</script>
