<template>
  <div id="cart">
    <h1 class="cart__title">
      Passer une commande
    </h1>
    <USSearchBar placeholder="Compléter votre panier" />
    <div class="cart-header">
      <USTitle title-text="Mon panier" />
      <p class="nb-articles">
        {{ cart.length }} articles
      </p>
    </div>
    <USCartArticle
      v-for="(article, i) in sortedCart"
      :key="'article-' + i"
      :article-id="article.id"
      :recette="{
        img: '/images/recettes/Clafoutis.png',
        subtitle: getIngredients(article.ProductsInRecipe),
        title: article.recipeName
      }"
      :products="article.ProductsInRecipe"
      :quantity="getArticleQuantity(article.id)"
      @update="updateCart"
    />
    <button class="cart__cta--button">
      <a href="/paiement/adresse">Finaliser la commande</a>
      <span class="price">{{ totalPrice }} €</span>
    </button>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '../components/Atoms/USTitle.vue'
import USSearchBar from '../components/Organisms/USSearchBar.vue'
import USCartArticle from '../components/Organisms/USCartArticle.vue'

export default Vue.extend({
  components: {
    USSearchBar, USTitle, USCartArticle
  },
  data () {
    return {
      cart: [],
      recipes: []
    }
  },
  computed: {
    sortedCart () {
      const sortedCart = []
      if (this.cart.length > 0) {
        const sortedIds = []

        for (let i = 1; i < this.cart.length; i++) {
          if (!sortedIds.includes(this.cart[i].id)) {
            sortedCart.push(this.cart[i])
            sortedIds.push(this.cart[i].id)
          }
        }
      }
      return sortedCart
    },
    totalPrice () {
      return this.cart.reduce((a, b) => a + (b.price || 0), 0)
    }
  },
  mounted () {
    this.getCart()
  },
  methods: {
    getCart () {
      const cart = this.$auth.$storage.getUniversal('cart')
      if (cart) { this.cart = cart } else { this.cart = [] }
    },
    getArticleQuantity (id) {
      return this.cart.filter((article) => {
        return article.id === id
      }).length
    },
    getIngredients (ingredients) {
      let textIngredients = ''

      ingredients.forEach((ingredientData, i) => {
        textIngredients += ingredientData.Ingredient.productName

        if (i !== ingredients.length - 1) {
          textIngredients += ', '
        }
      })

      return textIngredients
    },
    updateCart (articleUpdate) {
      if (this.cart.filter(article => article.id === articleUpdate.id).length > articleUpdate.quantity) {
        this.cart.splice(this.cart.findIndex(article => article.id === articleUpdate.id), 1)

        if (this.cart.length <= 0) {
          this.cart = []
          this.$auth.$storage.removeUniversal('cart')
          this.$auth.$storage.removeUniversal('cartNbArticles')

          this.$auth.$storage.setUniversal('cart', [])
          this.$auth.$storage.setUniversal('cartNbArticles', 0)
        } else {
          this.$auth.$storage.removeUniversal('cart')
          this.$auth.$storage.removeUniversal('cartNbArticles')

          this.$auth.$storage.setUniversal('cart', this.cart)
          this.$auth.$storage.setUniversal('cartNbArticles', this.cart.length)
        }
      } else {
        this.cart.push(this.cart.find(article => article.id === articleUpdate.id))

        this.$auth.$storage.removeUniversal('cart')
        this.$auth.$storage.removeUniversal('cartNbArticles')

        this.$auth.$storage.setUniversal('cart', this.cart)
        this.$auth.$storage.setUniversal('cartNbArticles', this.cart.length)
      }
    }
  }
})
</script>

<style lang="scss">
#cart {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 160px;
  // height: calc(100vh - var(--side-margin));
  .cart__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .urstock-recette {
    grid-template-columns: 20% 80%;
  }
  .urstock-recette__cta-button {
    display: none;
  }

  button.cart__cta--button {
    position: fixed;
    bottom: 80px;
    border: none;
    background: #ed8a61;
    border-radius: 5px;
    width: 354px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    & > a {
      color: #ffffff;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .cart-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .nb-articles {
      width: 100%;
      text-align: right;
      border-bottom: 1px solid #eceaf5;
      height: 25px;
    }
    .urstock-title {
      width: 100%;
    }
  }
}
</style>
