<template>
  <div id="choose_supplier">
    <USModalCGU :is-displayed="!hasCheckedCGU" />

    <USSearchBar v-model="suppliersSearch" />

    <div class="suppliers">
      <USSupplierCard
        v-for="(supplier, i) in filteredSuppliers"
        :key="`supplier-${i}`"
        :logo="supplier.logo"
        :rate="supplier.rate"
        :brand="supplier.brand"
      />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USSupplierCard from '../components/Organisms/USSupplierCard.vue'
import USSearchBar from '../components/Organisms/USSearchBar.vue'
import USModalCGU from '../components/Templates/USModalCGU.vue'
import suppliers from './../static/suppliers.json'

export default Vue.extend({
  components: { 
    USModalCGU, USSearchBar, USSupplierCard
  },
  data () {
    return {
      suppliers,
      suppliersSearch: ''
    }
  },
  computed: {
    filteredSuppliers () {
      return suppliers.filter((supplier) => supplier.brand.toLowerCase().includes(this.suppliersSearch.toLowerCase()))
    }
  },
  methods: {
    hasCheckedCGU () {
      if (!!window && !!window.localStorage) {
        const checkedCGU = localStorage.getItem('urstock-cgu')

        if (checkedCGU) { return true } else { return false }
      }
    }
  }
})
</script>

<style lang="scss" scoped>
#choose_supplier {
  padding: var(--side-margin);
  padding-bottom: 80px;
  .suppliers {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
</style>
