<template>
  <div id="connection">
    <USGoBack to="/" />

    <USBrand />

    <h3>Connexion</h3>

    <form>
      <div class="login-details">
        <USInput
          v-model="login.email"
          type="email"
          label="Adresse mail :"
          placeholder="johndoe@gmail.com"
        />

        <USInput
          v-model="login.password"
          label="Mot de passe :"
          placeholder="*********"
          type="password"
        />
      </div>

      <USButton
        :loading="tryingToLogIn"
        :disabled="tryingToLogIn"
        message="Se connecter"
        type="submit"
        @click.native="userLogin"
      />
    </form>

    <img class="connection-img" src="/images/Connection.png" alt="">
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '~/components/Atoms/USButton.vue'
import USGoBack from '~/components/Atoms/USGoBack.vue'
import USInput from '~/components/Atoms/USInput.vue'
import USBrand from '~/components/Atoms/USBrand.vue'

export default Vue.extend({
  name: 'UrStockConnection',
  components: {
    USButton,
    USGoBack,
    USInput,
    USBrand
  },
  layout: 'empty',
  middleware: 'disconnected',
  data () {
    return {
      login: {
        email: null,
        password: null
      },
      tryingToLogIn: false
    }
  },
  methods: {
    async userLogin () {
      try {
        this.tryingToLogIn = true
        await this.$auth
          .loginWith('local', {
            data: this.login
          })
          .then(async (token) => {
            const user = await this.$axios.get('/api/me', {
              headers: {
                Authorization: 'Bearer ' + token.data.token
              }
            })
            const userData = { ...user.data }
            this.$auth.$storage.setUniversal('user', {
              email: userData.email,
              firstName: userData.firstname,
              lastName: userData.lastname,
              token: token.data.token
            })
            this.$auth.setUser(this.$auth.$storage.getUniversal('user'))
            this.$auth.redirect('accueil')
          })

        this.tryingToLogIn = false
      } catch (err) {
        console.log(err)
        this.tryingToLogIn = false
      }
    }
  }
})
</script>

<style lang="scss" scoped>
#connection {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 0;
  height: calc(100vh - var(--side-margin));

  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  h1 {
    margin-top: 70px;
  }

  h3 {
    margin-top: 70px;
    text-align: left;
    border-bottom: 1px solid var(--primary-purple-light);
    padding-bottom: 5px;
  }

  .connection-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-top: auto;
  }

  .login-details {
    margin: 25px 0;

    .urstock-input:first-of-type {
      margin-bottom: 16px;
    }
  }

  .forgot-pwd {
    font-size: 10px;
    text-align: right;
    display: block;
    margin-top: 8px;
    font-weight: 700;
  }
}
</style>
