<template>
  <div id="fournisseur">
    <USTitle titleText="Choisir un fournisseur" />
    <div class="main">
      <USTitle titleText="Drive de retrait" />
      <!-- TODO: à modifier quand on recup les datas fournisseur de l'api -->
      <div class="card">
        <p>Logo</p>
        <p>METRO Paris</p>
        <p>24 avenue Terroirs de France, 75012 Paris FRANCE</p>
      </div>
      <p class="change">Changer de fournisseur</p>
    </div>

    <USButton message="Valider le choix du fournisseur" theme="secondary" />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../components/Atoms/USButton.vue'
import USTitle from '../components/Atoms/USTitle.vue'

export default Vue.extend({
  name: 'UrStockFournisseur',
  components: { 
    USTitle, 
    USButton
  }
})
</script>

<style lang="scss" scoped>
#fournisseur {
  padding: 40px;
  text-align: center;

  .main {
    h2 {
      border-bottom: solid 1px #eceaf5;
    }
    text-align: left;
    margin: 30px 0;
    .card {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 0.5px solid #eceaf5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 10px 0;
      padding: 10px;
    }
  }
  .change {
    text-decoration: underline;
  }
}
</style>
