<template>
  <div id="homepage">
    <USBrand />
    <h3>Gérez votre stock en temps réel avec urStock</h3>
    <p class="desc">
      Une solution tout en un permettant de gérer votre stock, anticiper les
      commandes via le fournisseur de votre choix et limiter les pertes
      économiques & écologiques.
    </p>
    <div class="buttons">
      <NuxtLink to="/login">
        <USButton message="Se connecter" />
      </NuxtLink>
      <NuxtLink to="/register">
        <USButton message="Créer un compte" theme="secondary" />
      </NuxtLink>
    </div>
    <img class="homepage-img" src="/images/Connection.png" alt="">
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '~/components/Atoms/USButton.vue'
import USBrand from '../components/Atoms/USBrand.vue'

export default Vue.extend({
  name: 'UrStockHomepage',
  components: {
    USButton, USBrand
  },
  layout: 'empty',
  middleware: 'disconnected'
})
</script>

<style lang="scss" scoped>
#homepage {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 0;
  height: calc(100vh - var(--side-margin));

  h1 {
    margin-top: 40px;
  }

  h3 {
    margin-top: 72px;
  }

  p.desc {
    margin-top: 16px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    .urstock-button {
      width: 100%;
    }
  }

  .forgot-pwd {
    font-size: 10px;
    text-align: right;
    font-weight: 700;
  }

  .homepage-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-top: auto;
  }
}
</style>
