<template>
  <div>
    <USButtonGroup @changeButton="setSelectedButton" />
    <p v-if="selectedButton == 'left'">
      LEFT DE OUF
    </p>
    <p v-if="selectedButton == 'right'">
      RIGHT A FOND
    </p>

    <USSearchBar placeholder="C10, Métro, TransGourmet..." />

    <USSupplierCard />

    <USCategoryThumbnail />

    <USModalCGU :is-displayed="!hasCheckedCGU" />

    <USButton
      message="Se déconnecter (temporaire)"
      @click.native="userLogout"
    />

    <USNavBar />

    <USProductCard />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../components/Atoms/USButton.vue'
import USModalCGU from '../components/Templates/USModalCGU.vue'
import USButtonGroup from '~/components/Molecules/USButtonGroup.vue'
import USSupplierCard from '~/components/Organisms/USSupplierCard.vue'
import USCategoryThumbnail from '~/components/Organisms/USCategoryThumbnail.vue'
import USNavBar from '~/components/Organisms/USNavBar.vue'
import USSearchBar from '~/components/Organisms/USSearchBar.vue'
import USProductCard from '~/components/Organisms/USProductCard.vue'

export default Vue.extend({
  name: 'IndexPage',
  components: {
    USButtonGroup,
    USSupplierCard,
    USCategoryThumbnail,
    USSearchBar,
    USNavBar,
    USProductCard, 
    USModalCGU, 
    USButton
  },
  data () {
    return {
      images: [
        '/images/Presentation-1.png',
        '/images/Presentation-2.png',
        '/images/Presentation-3.png'
      ],
      selectedButton: 'left'
    }
  },
  computed: {},
  methods: {
    setSelectedButton (button) {
      this.selectedButton = button
    },
    hasCheckedCGU () {
      if (!!window && !!window.localStorage) {
        const checkedCGU = localStorage.getItem('urstock-cgu')

        if (checkedCGU) { return true } else { return false }
      }
    },

    async userLogout () {
      await this.$auth.logout()
    }
  }
})
</script>

<style lang="scss" scoped>
</style>
