<template>
  <div id="introduction">
    <NuxtLink class="bold skip" to="/recette">Passer</NuxtLink>

    <USBrand />

    <USSlider :default-active-slide="1" :slides="images" @changeSlide="setActiveSlide" />

    <div class="slides-content">
      <div class="slides-content--container" :style="`transform: translateX(calc(-${slideTextTracker} * 100vw));`">
        <div>
          <h3>Suivez votre stock</h3>
          <p>
            Controllez la gestion de votre stock en temps réel grâce à un suivi de vos produits manquants et des ventes effectuées. Estimez vos coûts selon une
            période mensuel et annuel.
          </p>
        </div>

        <div>
          <h3>Anticipez vos commandes</h3>
          <p>
            Passez votre commande via le fournisseur de votre choix, préparez vos recettes favorites, planifiez et gérez vos provisions selon vos événements via
            un calendrier.
          </p>
        </div>

        <div>
          <h3>Réduisez les pertes</h3>
          <p>
            Diminuez vos pertes économiques et écologiques grâce à l’estimation des coûts de vos produits et faites un geste pour la planète en limitant le
            gaspillage alimentaire.
          </p>
        </div>
      </div>
    </div>

    <div class="btn__container" :class="{ 'display-btn': activeSlide == images.length }">
      <USLinkButton class="btn-end-introduction" linkpage="/recette" message="Ok, j'ai compris !" />
    </div>

    <p class="bold mail-contact">
      Une question ?
      <NuxtLink to="#">Contactez-nous par mail</NuxtLink>
    </p>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USSlider from '~/components/Organisms/USSlider.vue'
import USBrand from '../components/Atoms/USBrand.vue'
import USLinkButton from '../components/Atoms/USLinkButton.vue'

export default Vue.extend({
  components: {
    USSlider,
    USBrand,
    USLinkButton
  },
  layout: 'empty',
  data () {
    return {
      images: [
        '/images/Presentation-1.png',
        '/images/Presentation-2.png',
        '/images/Presentation-3.png'
      ],
      activeSlide: 1
    }
  },
  computed: {
    slideTextTracker () {
      return this.activeSlide - 1
    }
  },
  methods: {
    setActiveSlide (newActiveSlide) {
      this.activeSlide = newActiveSlide
    }
  }
})
</script>

<style lang="scss" scoped>
#introduction {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 66px;

  h1 {
    margin-top: 100px;
  }

  .btn__container {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-bottom: 15px;

    &.display-btn {
      height: 65px;
      opacity: 1;
      margin-bottom: 0;
    }
  }

  .btn-end-introduction {
    margin-left: 30px;
    margin-top: 0;
  }

  .slider {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .slides-content {
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;

    &--container {
      width: max-content;
      display: flex;
      gap: 60px;
      margin-left: 30px;
      transition: all 0.3s ease;

      & > div {
        width: calc(100vw - 60px);

        h3 {
          margin-bottom: 16px;
        }
      }
    }
  }

  .bold {
    font-weight: 700;
    font-size: 16px;

    &.skip {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    &.mail-contact {
      font-family: 'Gotham';
    }
  }
}
</style>
