<template>
  <div id="notification">
    <h1 class="notification__title">
      Notification
    </h1>
    <img class="notification__background-image" :src="BackgroundImage" alt="Notification Background Image">
    <div class="notification__empty-message--container">
      <h2 class="notification__empty-message--header">
        Aucune notification pour l’instant
      </h2>
      <p class="notification__empty-message--description">
        Mais restez connecté(e) ! Des notifications personalisées apparaitront ici
      </p>
    </div>
    <USButton class="notification__settings-button" message="Réglages des notifications" />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '~/components/Atoms/USButton.vue'

export default Vue.extend({
  components: {
    USButton
  },
  data () {
    return {
      BackgroundImage: '/images/Notification.png'
    }
  }
})
</script>

<style lang="scss" scoped>
    #notification {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: var(--side-margin);
        padding-bottom: 80px;
        height: calc(100vh - var(--side-margin));

        .notification__title {
            font-size: 24px;
        }
        .notification__empty-message--description {
            color: #515151;
        }
        .notification__background-image {
            margin-top: 120px;
            object-fit: contain;
        }
        .notification__empty-message--container {
            margin-top: 32px;
            margin-bottom: 20px;
        }
        .notification__empty-message--description {
            margin-top: 16px;
        }
    }
</style>
