<template>
  <div id="recette">
    <h1 class="recette__title">
      Ajouter une recette
    </h1>
    <div class="recette__product">
      <img src="~/static/images/RecettePainComplet.png" alt="">
      <button class="recette__add-product">
        <img src="~/static/images/ButtonAjouter.png" alt="">
      </button>
    </div>

    <USSearchBar
      placeholder="De quoi avez-vous besoin ?"
      @search="updateSearchValue"
    />

    <div v-if="selectedIngredients.length > 0">
      <USTitle title-text="Les ingrédients sélectionné" />

      <USIngredients
        v-for="(ingredient, i) in selectedIngredients"
        :key="'ingredient-' + i"
        :product-image="ingredient.picture"
        :product-title="ingredient.productName"
        :product-price-per-weight="
          (ingredient.price / ingredient.weight).toFixed(2)
        "
        :product-reference="ingredient.reference"
        :product-availability="!!ingredient.quantityAvailable"
        :product-price="ingredient.price"
        hide-delete
        @click.native="removeIngredientFromRecipe(ingredient)"
      />
    </div>

    <div v-if="ingredients.length > 0">
      <USTitle title-text="Sélectionner d’autres ingrédients" />

      <USIngredients
        v-for="(ingredient, i) in filteredIngredients"
        :key="'ingredient-' + i"
        :product-image="ingredient.picture"
        :product-title="ingredient.productName"
        :product-price-per-weight="
          (ingredient.price / ingredient.weight).toFixed(2)
        "
        :product-reference="ingredient.reference"
        :product-availability="!!ingredient.quantityAvailable"
        :product-price="ingredient.price"
        hide-delete
        @click.native="addIngredientToRecipe(ingredient)"
      />
    </div>

    <USButton message="Ajouter" :disabled="selectedIngredients <= 0" />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USButton from '../components/Atoms/USButton.vue'
import USSearchBar from '~/components/Organisms/USSearchBar.vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USIngredients from '~/components/Organisms/USIngredients.vue'

export default Vue.extend({
  components: {
    USSearchBar,
    USTitle,
    USIngredients,
    USButton
  },
  data () {
    return {
      selectedIngredients: [],
      ingredients: [],
      search: null
    }
  },
  computed: {
    filteredIngredients () {
      return this.ingredients.filter((ingredient) => {
        if (ingredient.productName.toLowerCase().includes(this.search) || ingredient.reference.toLowerCase().includes(this.search)) {
          return true
        }
        if (!this.search) { return true }
        return false
      })
    }
  },
  mounted () {
    this.fetchIngredients()
  },
  methods: {
    updateSearchValue (value) {
      this.search = value
    },
    async fetchIngredients () {
      const ingredients = await this.$axios.get('/api/products/').then(resp => resp.data)
      this.ingredients = ingredients
    },
    addIngredientToRecipe (ingredient) {
      this.selectedIngredients.push(ingredient)
      this.ingredients.splice(this.ingredients.findIndex(i => i.id === ingredient.id), 1)
    },
    removeIngredientFromRecipe (ingredient) {
      this.ingredients.push(ingredient)
      this.selectedIngredients.splice(this.selectedIngredients.findIndex(i => i.id === ingredient.id), 1)
    }
  }
})
</script>

<style lang="scss">
#recette {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 66px;
  // height: calc(100vh - var(--side-margin));
  .recette__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .recette__add-product {
    border: none;
    background: transparent;
  }
  .recette__product {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  .recette__add-product {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -15%;
  }
}
</style>
