<template>
  <div id="commande">
    <div class="commande__container">
      <h1 class="commande__title">Suivi de stock</h1>

      <USTitle title-text="Produits manquants" />

      <div class="commande__filter--container">
        <USProductFilter text="🥖 Pains" backgroundColor="brown" />
        <USProductFilter text="🍰 Patisseries" backgroundColor="pink" />
        <USProductFilter text="🌯 Sandwichs" backgroundColor="green" />
        <USProductFilter text="🥐 Viennoiseries" backgroundColor="yellow" />
      </div>

      <div class="commande__product-card--container">
        <USRecipeCard />
        <USRecipeCard />
        <USRecipeCard />
      </div>
      <USLinkButton message="Faire l'inventaire du stock" linkpage="/inventaire" />
      <USTitle title-text="Statistiques de ventes" />
      <StatistiqueSell :value-stock="-10" />
      <StatistiqueBudget :value-stock="50" />
      <StatistiqueRevenues :value-stock="20" />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USRecipeCard from '~/components/Organisms/USRecipeCard.vue'
import USProductFilter from '~/components/Molecules/USProductFilter.vue'
import USLinkButton from '~/components/Atoms/USLinkButton.vue'
import StatistiqueSell from '~/components/Organisms/USStatistiqueSell.vue'
import StatistiqueBudget from '~/components/Organisms/USStatistiqueBudget.vue'
import StatistiqueRevenues from '~/components/Organisms/USStatistiqueRevenues.vue'
export default Vue.extend({
  name: 'UrStockCheckStockPage',
  components: {
    USTitle,
    USRecipeCard,
    USProductFilter,
    USLinkButton,
    StatistiqueSell,
    StatistiqueBudget,
    StatistiqueRevenues
  }
})
</script>

<style lang="scss" scoped>
#commande {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;

  // height: calc(100vh - var(--side-margin));
  .commande__container {
    padding-top: var(--side-margin);
    padding-left: var(--side-margin);
    padding-bottom: 80px;
  }

  .commande__title {
    font-size: 24px;
    margin-bottom: 25px;
    padding-right: var(--side-margin);
  }

  .urstock-searchBar {
    margin-right: var(--side-margin);
    margin: 30px 0;
    width: calc(100% - var(--side-margin));
  }

  .urstock-title {
    padding-right: var(--side-margin);
  }

  .commande__product-card--container {
    display: flex;
    gap: 16px;
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 20px;
    padding-right: var(--side-margin);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .commande__filter--container {
    white-space: nowrap;
    gap: 6px;
    overflow: auto;
    margin-bottom: 16px;
    padding-right: var(--side-margin);
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    margin-right: var(--side-margin);
    margin-bottom: 20px;
    width: calc(100% - 30px);
  }
  .urstock-title__center {
    padding-right: var(--side-margin);
  }
  .urstock-title {
    margin-top: 45px;
  }
}
</style>
