<template>
  <div id="order">
    <div class="order-container">
      <USGoBack to="/company/orders" />
      <USTitle center title-text="Ma commande" />
      <USPageInformation
        :information-text="'#' + ordersData.id"
        :information-sub-text="ordersData.date | date"
        :information-span="true"
      />

      <div
        v-for="(productInOrder, key) in ordersData.productInOrders"
        id="dropdown"
        :key="key"
        class="dropdown dropdown-active"
      >
        <div class="dropdown__header">
          <div class="dropdown__name">
            <span class="dropdown__header-title">{{
              productInOrder.Product.productName
            }}</span>
            <span class="dropdown__header-weight">{{ productInOrder.quantity }} pièces</span>
          </div>
          <i
            id="dropdown_showHide"
            class="ri-arrow-drop-down-line dropdown__header-button"
          />
        </div>
        <div class="dropdown__content">
          <USRecette
            product-image="/images/Farine.png"
            :product-title-visibility="false"
            :product-add-button="false"
            :product-subtitle="
              '(' +
                productInOrder.Product.price / 100 +
                '€ / ' +
                productInOrder.Product.measuringUnit +
                ')<br/>Fournisseur : ' +
                productInOrder.Product.vendor.name +
                '<br/>Référence : ' +
                productInOrder.Product.reference
            "
            :product-price="
              (productInOrder.quantity * productInOrder.Product.price) / 100 +
                '€'
            "
          />
        </div>
      </div>

      <!-- <span>{{ ordersData.status }}</span>
      <span>{{ ordersData.price }} €</span> -->
      <!-- <span>{{ ordersData.productInOrders[0] }}</span> -->
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import USPageInformation from '../../../components/Molecules/USPageInformation.vue'
import USGoBack from '../../../components/Atoms/USGoBack.vue'
import USTitle from '../../../components/Atoms/USTitle.vue'
import USRecette from '../../../components/Organisms/USRecette.vue'

export default Vue.extend({
  components: {
    USPageInformation,
    USGoBack,
    USTitle,
    USRecette
  },
  filters: {
    date (str) {
      if (!str) {
        return '(n/a)'
      }
      str = new Date(str)
      return (
        (str.getDate() < 10 ? '0' : '') +
        str.getDate() +
        '-' +
        (str.getMonth() < 9 ? '0' : '') +
        (str.getMonth() + 1) +
        '-' +
        str.getFullYear()
      )
    }
  },
  data () {
    return {
      ordersData: []
    }
  },
  async mounted () {
    try {
      const href = location.href.match(/([^\/]*)\/*$/)[1]
      this.ordersData = await this.$axios
        .get('/api/orders/' + href)
        .then(response => response.data)
      this.ordersDataProduct = await this.$axios
        .get('/api/product_in_orders/25')
        .then(response => response.data)
    } catch (e) {
      console.log(e)
    }
    const elements = document.querySelectorAll('.dropdown__header')

    elements.forEach(function (element) {
      element.addEventListener('click', () => {
        element.parentNode.classList.toggle('dropdown-active')
      })
    })
  }
})
</script>
<style lang="scss" scoped>
*,
*::after,
*::before {
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__name {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  &__header {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Gotham';
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #eceaf5;
    border-top: 1px solid #eceaf5;
    &:hover {
      cursor: pointer;
    }

    &-title {
      color: var(--secondary-black);
    }
    &-weight {
      font-size: 12px;
      color: white;
      background: var(--primary-orange);
      width: fit-content;
      padding: 3px 5px;
      border-radius: 25px;
      margin-top: 5px;
      font-weight: 400;
    }

    &-button {
      font-size: 37px;
      color: var(--secondary-black);
      position: relative;
      cursor: pointer;
      transition: transform 100ms ease-in-out;
      transform: rotate(180deg);
    }
  }

  &__content {
    transform-origin: middle top;
    overflow: hidden;
    width: 100%;
    padding: 0.45em;
    padding-left: 0.6em;
    padding-top: 0.75em;
    font-size: 1.1rem;
    display: block;
    animation: slide 200ms ease-in-out;
  }

  &-active &__content {
    display: none;
  }

  &-active i {
    transform: rotate(0deg);
  }
}

@keyframes slide {
  from {
    display: none;
  }

  to {
    display: block;
  }
}

#order {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
  .order {
    &-container {
      padding-top: 47px;
      padding-left: var(--side-margin);
      padding-right: var(--side-margin);
      padding-bottom: 66px;
    }
    &-table {
      border: 0;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    &-tr {
      border-bottom: 2px solid var(--primary-purple-light);
      display: block;
      margin-bottom: 15px;
    }
    &-td {
      display: block;
      font-size: 12px;
      text-align: right;
      font-family: 'Itim';
      padding: 6px 0;
      &__primary {
        color: var(--primary-orange);
      }
    }
    &-td::before {
      content: attr(data-header);
      color: black;
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    &-td:last-child {
      border-bottom: 0;
    }
  }

  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .urstock-input {
    margin-bottom: 12px;
  }

  .urstock-title__center {
    margin-bottom: 65px;
  }
  .urstock-recette__content {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 16px;
  }
}
</style>
