<template>
  <div id="commande_recette">
    <div class="mes-produits">
      <USSearchBar placeholder="De quoi avez-vous besoin ?" />
      <USTitle title-text="Filtres principaux" />
      <div class="commande__filter--container">
        <USProductFilter text="🥖 Pains" background-color="brown" />
        <USProductFilter text="🍰 Patisseries" background-color="pink" />
        <USProductFilter text="🌯 Sandwichs" background-color="green" />
        <USProductFilter text="🥐 Viennoiseries" background-color="yello" />
      </div>
      <div class="commande__recette--number-container">
        <p class="commande__recette--number">
          <span class="number">0</span> recettes affichés
        </p>
        <USLinkButton message="Ajouter une recette" linkpage="/recette" />
      </div>
      <USCommandeCategory
        v-for="(category, i) in categories"
        :key="'category-' + i"
        :category="category"
      />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USSearchBar from '../Organisms/USSearchBar.vue'
import USProductFilter from '../Molecules/USProductFilter.vue'
import USCommandeCategory from '../Organisms/USCommandeCategory.vue'
import USLinkButton from '~/components/Atoms/USLinkButton.vue'
import USTitle from '~/components/Atoms/USTitle.vue'

export default Vue.extend({
  components: {
    USTitle,
    USLinkButton,
    USSearchBar,
    USProductFilter,
    USCommandeCategory
  },
  props: {
    categories: {
      type: Array,
      default: () => []
    }
  }
})
</script>

<style lang="scss" scoped>
.commande {
  &__arrowDownLine {
    border: none;
    background: transparent;
    margin: 0 0 20px;
    &:hover {
      cursor: pointer;
    }
    & img {
      background: #ed8a61;
      border-radius: 50%;
    }
    & span {
      vertical-align: 8px;
      text-decoration: underline;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
    }
    &-up {
      display: none;
      img {
        transform: rotate(180deg);
      }
    }
  }
  &__container {
    padding-top: var(--side-margin);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    padding-bottom: 66px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  &__category\&title-container {
    margin-bottom: 40px;
  }

  &__filter--container {
    margin-bottom: 30px;
  }
  &__recette--container {
    display: flex;
    flex-direction: column;
  }

  &__recette--container:not(.active) .urstock-recette:nth-child(n + 4) {
    display: none;
  }

  &__recette--container.active &__arrowDownLine-down {
    display: none;
  }
  &__recette--container.active &__arrowDownLine-up {
    display: block;
  }

  &__recette--number-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__filter--container {
    margin-bottom: 0;
  }

  &__recette--number {
    font-size: 12px;
  }
}
.urstock-searchBar {
  margin-right: var(--side-margin);
  margin: 30px 0;
  // width: calc(100% - var(--side-margin));
}

#commande2 .urstock-button {
  margin-right: 0 !important;
  padding: 0 10px;
  font-size: 12px !important;
  height: 36px !important;
}
</style>
