<template>
  <div>
    <USSearchBar placeholder="De quoi avez-vous besoin ?" />
    <div class="commande__category&title-container">
      <USTitle title-text="Mon marché frais" />
      <div class="commande__category-container">
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
      </div>
    </div>

    <div class="commande__category&title-container">
      <USTitle title-text="Mon marché frais" />
      <div class="commande__category-container">
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
      </div>
    </div>

    <div class="commande__category&title-container">
      <USTitle title-text="Mon marché frais" />
      <div class="commande__category-container">
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
      </div>
    </div>

    <div class="commande__category&title-container">
      <USTitle title-text="Mon marché frais" />
      <div class="commande__category-container">
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
      </div>
    </div>

    <div class="commande__category&title-container">
      <USTitle title-text="Mon marché frais" />
      <div class="commande__category-container">
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
      </div>
    </div>

    <div class="commande__category&title-container">
      <USTitle title-text="Mon marché frais" />
      <div class="commande__category-container">
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
        <USCategoryThumbnail :thumbnail-icon="Fruits.thumbnailIcon" :thumbnail-image="Fruits.thumbnailImage" :thumbnail-label="Fruits.thumbnailLabel" />
      </div>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USSearchBar from '../Organisms/USSearchBar.vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USCategoryThumbnail from '~/components/Organisms/USCategoryThumbnail.vue'

export default Vue.extend({
  components: {
    USSearchBar,
    USTitle,
    USCategoryThumbnail
  },
  data () {
    return {
      Fruits: {
        thumbnailLabel: 'Fruits',
        thumbnailIcon: '/images/cerise.svg',
        thumbnailImage: '/images/CategoryThumbnailTemplate.png'
      }
    }
  },
  methods: {

  }
})
</script>

<style lang="scss" scoped>

    .commande__category-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    .urstock-searchBar {
        margin-right: var(--side-margin);
        margin: 30px 0;
    }

    .commande__category\&title-container {
        margin-bottom: 40px;
    }

</style>
