<template>
  <div v-if="display" class="urstock-cgu" :class="{ 'fade-out': fadeOut }">
    <div class="urstock-cgu--content">
      <h3>Nos conditions d’utilisation</h3>
      <p>
        En continuant, vous acceptez nos <NuxtLink to="#">CGU</NuxtLink>  et donnez mandat à
        urStock pour se connecter et effectuer vos commandes en votre nom auprès
        de Métro.
      </p>
      <div class="urstock-cgu--buttons">
        <USButton plain message="Refuser" @click.native="hideCGU('decline')" />
        <USButton plain message="Continuer" @click.native="hideCGU('accept')" />
      </div>
    </div>
    <div class="urstock-cgu--bg" />
  </div>
</template>

<script lang="js">
import Vue from 'vue'
export default Vue.extend({
  props: {
    isDisplayed: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      display: this.isDisplayed,
      fadeOut: false
    }
  },
  methods: {
    hideCGU (answer) {
      localStorage.setItem('urstock-cgu', answer)
      this.fadeOut = true

      setTimeout(() => {
        this.display = false
      }, 300)
    }
  }
})
</script>

<style lang="scss" scoped>
.urstock-cgu {
  transition: all 0.3s ease;

  &.fade-out {
    opacity: 0;
  }

  &--content {
    width: 240px;
    height: 240px;
    background: #ffffff;
    border: 1px solid var(--primary-purple-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: auto;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 36px;
  }

  p {
    color: var(--secondary-grey);
    font-size: 16px;
    line-height: 20px;

    a {
      color: var(--primary-orange);
      text-decoration: underline;
      font-family: "Itim";
    }
  }

  &--buttons {
    display: flex;
    justify-content: space-between;

    .urstock-button {
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }

  &--bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    z-index: 45;
  }
}
</style>
