<template>
  <div id="faire_inventaire">
    <USGoBack to="/inventaire" />
    <h1 class="inventaire__title">
      Faire l’inventaire
    </h1>
    <USTitle title-text="Modifier le Stock" />
    <div class="inventaire__product">
      <img src="/images/RecettePainComplet.png" alt="">
      <button class="inventaire__edit-product">
        <img src="/images/edit_button.png" alt="">
      </button>
    </div>
    <div>
      <form>
        <USInput v-model="product.name" label="Nom du produit" />

        <div class="categories">
          <button
            type="button"
            class="categories-button"
            @click="isCategoriesDropdownActive = !isCategoriesDropdownActive"
          >
            <USInput
              v-model="currentCategory.name"
              disabled
              label="Categorie"
            />
          </button>
          <div
            class="categories-list"
            :class="{ active: isCategoriesDropdownActive }"
          >
            <p
              v-for="(category, i) in categories"
              :key="'category-option-' + i"
              :class="{ active: currentCategoryId === category.id }"
              @click="setCurrent(category.id)"
            >
              {{ category.name }}
            </p>
          </div>
        </div>
        <USInput v-model="product.reference" label="Référence" />
        <USInput v-model="product.price" type="number" label="Prix (en €)" />
        <USInput v-model="product.weight" type="number" label="Poids (en kg)" />
        <USInput v-model="pricePerUnit" disabled label="Prix au kg" />
        <USInput
          v-model="product.quantity"
          label="Quantité"
          type="number"
          style="width: 50%"
        />
      </form>
      <USButton message="Valider" class="company-modify" />
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import USGoBack from '../../../components/Atoms/USGoBack.vue'
import USTitle from '~/components/Atoms/USTitle.vue'
import USInput from '~/components/Atoms/USInput.vue'
import USButton from '~/components/Atoms/USButton.vue'
export default Vue.extend({
  components: {
    USTitle, USInput, USButton, USGoBack
  },
  data () {
    return {
      product: {
        name: null,
        categoryLink: null,
        reference: null,
        price: 0,
        weight: 0,
        quantity: 0
      },
      currentCategoryId: null,
      categories: null,
      isCategoriesDropdownActive: false
    }
  },
  computed: {
    pricePerUnit () {
      return `(${(this.product.price / this.product.weight).toFixed(2)}€ / kg)`
    },
    currentCategory () {
      if (this.categories && this.product.categoryLink) {
        return this.categories.find((category) => {
          return category.id === this.currentCategoryId
        })
      } else {
        return {
          name: null
        }
      }
    }
  },
  mounted () {
    this.fetchProductData()
  },
  methods: {
    async fetchProductData () {
      const productsCategories = await this.$axios.get('/api/product_sub_categories/').then(response => response.data)
      this.categories = productsCategories
      const product = await this.$axios.get(`/api/products/${this.$route.params.index}`).then(response => response.data)
      this.product = {
        name: product.productName,
        categoryLink: product.productSubCategory,
        reference: product.reference,
        weight: product.weight,
        price: product.price,
        quantity: product.quantityAvailable ? product.quantityAvailable : 0
      }
      this.currentCategoryId = Number(product.productSubCategory.match(/(\d+)/)[0])
    },
    setCurrent (id) {
      this.currentCategoryId = id
    }
  }
})
</script>

<style lang="scss">
#faire_inventaire {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: var(--side-margin);
  padding-bottom: 100px;
  // padding-right: 0;
  .inventaire__title {
    font-size: 24px;
    margin-bottom: 25px;
    padding-right: var(--side-margin);
  }
  .inventaire__product {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto;
  }
  .inventaire__edit-product {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -15%;
  }
  .urstock-go-back {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  &-button {
    background: transparent;
    border: none;
    padding: 0;
    display: block;
    width: 100%;
  }
  &-list {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background: #f5f6f8;
    padding: 20px 30px;
    width: calc(100% - 60px);
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0px #888888a8;
    display: none;
    &.active {
      display: unset;
    }
    p {
      cursor: pointer;
      padding: 5px;
      font-family: 'Itim';
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &.active {
        color: white;
        background: black;
        border-radius: 5px;
      }
    }
  }
}
</style>
